<%= form_for(@title_list_membership) do |f| %>
  <% if @title_list_membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@title_list_membership.errors.count, "error") %> prohibited this title_list_membership from being saved:</h2>

      <ul>
      <% @title_list_membership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :title_list %><br />
    <%= f.text_field :title_list %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
