<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @title_list_membership.title %>
</p>

<p>
  <b>Title list:</b>
  <%= @title_list_membership.title_list %>
</p>

<p>
  <b>Notes:</b>
  <%= @title_list_membership.notes %>
</p>


<%= link_to 'Edit', edit_title_list_membership_path(@title_list_membership) %> |
<%= link_to 'Back', title_list_memberships_path %>
