<h1>Listing text fragments</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @text_fragments.each do |text_fragment| %>
  <tr>
    <td><%= text_fragment.name %></td>
    <td><%= text_fragment.sometext %></td>
    <td><%= link_to 'Show', text_fragment %></td>
    <td><%= link_to 'Edit', edit_text_fragment_path(text_fragment) %></td>
    <td><%= link_to 'Destroy', text_fragment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Text fragment', new_text_fragment_path %>
