<tr>
  <td><%= link_to post.title,post %></td>
  <td><%= post.created_at %> </td>
  <td><%= post.published %> </td>
  <td><%= link_to post.post_category.name,post.post_category %></td>
  <td><%= mylinkbutton "Edit",edit_post_path(post),{},'btn-small' %></td>
</tr>
