<tr>
  <td><%= link_to post.title,post %></td>
  <td><%= post.created_at %> </td>
  <td><%= post.published %> </td>
  <td> 
    <% post.post_categories.each do |cat| %>
    <%= link_to cat.name,cat %>
    <% end %>
  </td>
  <td><%= mylinkbutton "Edit",edit_post_path(post),{},'btn-small' %></td>
</tr>
