<h1>Find books</h1>

<%= nested_form_for Title.new,:method => :get,:html=>{:class=>"form-horizontal form-compact"},:url => {:action => :search,:controller => :titles } do |f| %>
<%= mytextfield f,:title,:title %>
<%= mytextfield f,:authors,:my_authors %>
<%= my_autocomplete_field_tag f,'publisher','publisher',autocomplete_publisher_name_titles_path %>
<%= my_autocomplete_field_tag f,'distributor','distributor',autocomplete_distributor_name_titles_path %>
<%= mytextfield f,">= Sold" ,:my_copies_sold_or_more %>
<%= mytextfield f,"<= Sold",:my_copies_sold_or_less %>
<%= mytextfield f,">= In Stock" ,:my_copies_stock_or_more %>
<%= mytextfield f,"<= In Stock",:my_copies_stock_or_less %>

<%= mysubmit f, :search,{} %>
<% end %>
