<div class="row">
  <div class="span12">
    <h1><%= link_to "«",daily_path({:day=>@day - 1.day}) %> Sales for <%= @day %> <%= link_to "»",daily_path({:day=>@day + 1.day}) %></h1>
    
    <h2>Total: $<%= @total %></h2>


    <table class="table">
    <% @sales_for_day.each do |s| %>
    <tr>
      <th><strong><%= link_to s.id,s %></strong></th>
      <td><strong><%= s.posted_when.to_formatted_s(:just_time) %></strong></td> 
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
    <% s.sale_order_line_items.each do |l| %>
    <tr>
        <td></td>
      <td></td>
        <td><%= link_to l.copy.edition.title.title, l.copy.edition %></td>
      <td>$<%= l.sale_price %></td>
      <td></td>
    </tr>
    
    <% end %>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>$<%= s.total %></strong></td>
    </tr>
        

    <% end %>
    </table>

  </div>
    


</div>
