<div class="container-fluid">
<div class="row spaceontop">
  <div class="col-xs-12">
    <h1><%= link_to "«",daily_path({:day=>@day - 1.day}) %> Sales for <%= @day %> <%= link_to "»",daily_path({:day=>@day + 1.day}) %></h1>
    
    <h3>Total: $<%= @total %></h3>
    <br />

    <table class="table">
    <% @sales_for_day.each do |s| %>
    <tr>
      <th><strong><%= link_to s.id,s %></strong></th>
      <td><strong><%= s.posted_when.to_formatted_s(:just_time) %></strong></td> 
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= s.user.name rescue "" %></td>
    </tr>
    
    <% s.sale_order_line_items.each do |l| %>
    <% if l.copy.edition.nil? %>
    <tr><td><%= l.copy.id %></td></tr>
    <% else %>
    <tr class="<%= 'warning' if l.copy.edition.title.in_stock==0 && l.copy.edition.title.on_order==0 %>  <%= 'danger' unless l.copy.edition.title.is_in_print? %>">
      <td></td>

	<td></td>
      <td>
	<%= link_to l.copy.edition.title.title, l.copy.edition %>
	 
 	<%= link_to raw('<i class="fa fa-check-circle-o"></i>'), hidden_actions_edition_path(l.copy.edition.title.latest_published_edition),  {:remote => true, 'data-toggle' =>  'modal', :role=>'button', 'data-target' => '#modal-window'} unless l.copy.edition.title.latest_published_edition.nil? %>
	<% cache("emojitmetrics-title-#{l.copy.edition.title.id}", :expires_in => 20.minutes) do %>
	    <%= render :partial=>'titles/emojimetrics', :locals => {:title=>l.copy.edition.title} %>
	    <br />
	    <small><%= l.copy.edition.title.in_stock %> in stock
		<br /><span title="<%= l.copy.edition.title.whichorders %>"><%= l.copy.edition.title.on_order %><span class="faint">+<%= l.copy.edition.title.probably_on_order %></span></span> on order</small>

	<% end %>

      </td>
      <td>
	<%= ordering_from_info(l.copy.edition.title) %>
      </td>
            <td>
	<small><%= sanitize category_status(l.copy.edition.title) %></small>
      </td>

      <td>
	$<%= l.sale_price %>
      </td>
      <td></td>
    </tr>
    <% end %>
    <% end %>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>$<%= s.total %></strong></td>
    </tr>
        

    <% end %>
    </table>

    <h2>By cashier</h2>
    <table class="table">
      <tr><th>User</th><th>Total</th></tr>
      <% @sales_for_day.group_by { |s| s.user }.each do |u,sales|  %>
      <tr>
	<td><%= u.name rescue "not specified" %></td>
	<td><%= sales.inject(Money.new(0)) {|sum,sale| sum+sale.total} %></td>
      </tr>
      <% end %>
    </table>
  </div>
    


</div>
</div>
