<div class="row">
  <div class="span12">
    <%= calendar @calendar_events do |event| %>
    <div style="border:1px solid #ccc;padding:2px;">
      <%= link_to event.title, event %>
      <div style="height:12px;"><small style="font-size:12px;line-height:8px;"><%= link_to event.event_location, event.event_location %></small></div>
      <div  style="height:12px;"><small style="font-size:12px;line-height:8px;"><%= event.event_start.to_formatted_s(:just_time)%> - <%= event.event_end.to_formatted_s(:just_time)  %></small></div>
      <% if !event.published? %>
      <div  style="height:12px;"><small style="font-size:12px;line-height:8px;" class="muted">Not published</small></div>
      <% end %>
    </div>
    <% end %>    
  </div>
</div>
<div class="row">
  <div class="span6">
    <h1>Events</h1>
    <div class="moreactions">
      <%= mylinkbutton "New event",new_event_path,{},'btn-small' %>
    </div>

    <table class="table">
      <tr><th>Title</th><th>Date</th><th>Time</th><th>Location</th><th></th></tr>
    <% @events.each do |e|%>
    <tr>
      <td><%= link_to e.title,e %></td>
      <td><%= e.event_start.to_formatted_s(:just_date) %></td>
      <td><%= e.event_start.to_formatted_s(:just_time)%> - <%=e.event_end.to_formatted_s(:just_time)  %></td>
      <td><%= link_to e.event_location,e.event_location %></td>
      <td><%= mylinkbutton "edit",edit_event_path(e),{},'btn-mini' %></td>
    </tr>
    <% end %>
    </table>
  </div>
  
  <div class="span6">
    <h1>Event locations</h1>
    <div class="moreactions">
      <%= mylinkbutton "New location",new_event_location_path,{},'btn-small' %>
    </div>

    <table class="table">
      <tr><th>Title</th><th></th></tr>
      <% @event_locations.each do |el|%>
      <tr>
	<td><%= link_to el.title, el%></td><td></td>
	<td><%= mylinkbutton "Edit",edit_event_location_path(el),{},'btn-mini' %></td>
      </tr>
      <% end %>
    </table>
  </div>


</div>
<div class="row">
  <div class="span12">
    <h1>Staffing</h1>
    
    <table class="table">
      <tr>
	<th>Staffer</th><th>Event</th><th>Where</th><th>When</th><th>What</th>
      </tr>
      <% @calendar_event_shifts.each do |s| %>
      <tr>
	<td><%= mail_to s.event_staffer.email,s.event_staffer.name %></td>
	<td><%= link_to s.event.title,s.event %></td>
	<td><%= link_to s.event.event_location,s.event.event_location %></td>
	<td><%= s.event.event_start.to_formatted_s(:just_date)%></td>
	<td><%= s.notes %></td>
      </tr>
      <% end %> 
    </table>

  </div>
</div>
