<div class="row">
  <div class="span12">
    <h1>Flow by owner <%= @owner rescue "" %></h1>
    
    <%= nested_form_for @date_range_object || DateRangeObject.new,:method => :get,:html=>{:class=>"form-horizontal form-compact"},:url => {:action => :ownerflow,:controller => :dashboard } do |f| %>
    <%= mydatefield f,:from,:range_start %>
    <%= mydatefield f,:to,:range_end %>
    <%= myselectfield f,:owner,:owner,autocomplete_owner_name_owners_path, "",(@owner.id rescue nil )%> 
    <%= mysubmit f,"Get report" %>
  <% end %>

  <% if ! @owner.nil? %>
  <table class="table">
    <tr>
      <th>Total retail sales for this owner</th>
      <td><%= @sales_price %></td>
    </tr>

    <tr>
      <th>Total cost of items sold for this owner</th>
      <td><%= @sales_cost %></td>
    </tr>

    <tr>
      <th>Value of purchases for this owner</th>
      <td><%= @purchases %></td>
    </tr>
    <tr>
      <th>Value of returns for this owner</th>
      <td><%= @returns %></td>
    </tr>

    <tr>
      <th>Real Balance (Cost+Returns-Purchases)</th>
      <td><%= @sales_cost+@returns-@purchases %></td>
    </tr>

    <tr>
      <th>Expansion budget balance (60% of sale price+Returns-Purchases)</th>
      <td><%= (@sales_price*0.6)+@returns-@purchases %></td>
    </tr>
  </table>
    
<br />

  <table class="table">
    <tr>
      <th>Tag</th><th>Purchases</th> <th>Sales</th>      <th>Returns</th>
    </tr>
    <% PurchaseOrder.tags.push(nil).each do |t| %>
    <tr>
      <td><%= t %></td>
      <td><%= @invoices_for_period.collect{|i| i.copies}.flatten.select {|c| (c.invoice_line_item.purchase_order_line_item.purchase_order.tag == t) rescue (t.nil? ? true : false) }.inject(Money.new(0)) {|sum,c| sum+c.cost} %></td>
      <td><%= @copies_sold_for_period.select {|c| (c.invoice_line_item.purchase_order_line_item.purchase_order.tag == t) rescue (t.nil? ? true : false) }.inject(Money.new(0)) {|sum,c| sum+c.price} %></td>
      <td><%= @returns_for_period.select {|c| c.invoice_line_item.purchase_order_line_item.purchase_order.tag == t rescue (t.nil? ? true : false)}.inject(Money.new(0)) {|sum,c| sum+c.cost} %></td>

      
    </tr>
    <% end %>

  </table>
  <% end %>

</div>
