<div class="row">
  <div class="span12">
    <h1>Sales</h1>
    
    <%= nested_form_for @date_range_object || DateRangeObject.new,:method => :get,:html=>{:class=>"form-horizontal form-compact"},:url => {:action => :sales,:controller => :dashboard } do |f| %>
    <%= mydatefield f,:from,:range_start %>
    <%= mydatefield f,:to,:range_end %>
    <%= mysubmit f,"Get report" %>
  <% end %>


  <%= high_chart("saleschart", @saleschart) %>
  
  <div>
    <strong>Revenue: $<%= @revenue %></strong>  (does not include sales tax collected)
  </div>
  <div>
    <strong>Cost: $<%= @cost %></strong>
  </div>
  <div>
    <strong>Average discount: <%= 100 - (100 * (@cost/@revenue) )%></strong>
  </div>
  <div>
    <strong>Days in period with sales: <%= @days.length %> </strong>
  </div>


  <hr>
  <h2>Items sold</h2>
  <table class="table">
    <tr><th>Title</th><th>Sold in this period</th><th>In stock?</th><th>On order?</th><th></th></tr>
    <% @titles_sold_with_count.each do |x| %>
    <% title=x[0] %>
    <% count=x[1] %>
    <tr class="<%= 'warning' if title.in_stock==0 && title.on_order==0 %>">
      <td><%= link_to title.title,title%></td>
      <td><%= count %></td>
      <td><%= title.in_stock %></td>
      <td><span title="<%= title.whichorders %>"><%= title.on_order %><span class="faint">+<%= title.probably_on_order %></span></span></td>
      <td><%= link_to raw('<i class="icon-ok-circle"></i>'), hidden_actions_edition_path(title.latest_published_edition),  {:remote => true, 'data-toggle' =>  'modal', :role=>'button', 'data-target' => '#modal-window'} unless title.latest_published_edition.nil? %></td>
    </tr>

    <% end %>
    
  </table>


  </div>
    


</div>
