<div id="bottombar">
  <div class="container">
    <div class="content">
      <div class="row">
	<div class="span2" id="bottomsocial">
	  <a href="http://twitter.com/redemmas"><%= image_tag "redemmas/48x48_twitter.png" %></a>
	  <a href="http://facebook.com/redemmas"><%= image_tag "redemmas/48x48_facebook.png" %></a>
	  <!-- Begin MailChimp Signup Form -->
	  <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
	  <style type="text/css">
	    #mc_embed_signup{ clear:left; font:14px Copse; }
	    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	    We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	  </style>
	  <div id="mc_embed_signup">
	    <form action="http://redemmas.us6.list-manage.com/subscribe/post?u=ba8275d3da8a8eeb9ab92d64f&amp;id=723faff526" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	      
	      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
	      <div class="clear"><input type="submit" value="Get updates" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	    </form>
	  </div>
	  
	  <!--End mc_embed_signup-->
	</div>
	<div class="span8">
	  <p class="bottommenubar copse">
	    <a href="/pages/catering">{catering}</a>
	    <a href="/pages/meetings">{meeting space}</a>
	    <a href="/pages/propose-an-event">{propose an event}</a>
	    <a href="/pages/trainings">{trainings}</a>
	    <a href="/pages/cooperatives">{cooperatives}</a>
	  </p>
	  <p class="proxima" id="bottomtag">Red Emma's is a worker cooperative and a family of projects dedicated to autonomy, sustainability, participatory democracy, and solidarity.</p>
	</div>
	<div class="span2" id="bottomnetworks">
	  <a href="http://usworker.coop"><%= image_tag "redemmas/usfwc.png" %></a>
	  <a href="http://iww.org"><%= image_tag "redemmas/iww.gif" %></a>
	</div>
      </div>
      
      <div>
	<p class="mobilemenubar copse">
	  <% cache("mobilemenubar", :expires_in => 10.minutes) do %>
	  <%= raw mobilemenubar({:books=>['/books',{:browse=>'/books',:search=>'/search',"special orders"=>'/pages/special_orders'}],:food=>['/food',{}],:coffee=>['/pages/thread',{}],:events=>['/events',{}],:news=>['/posts',{}],:about=>['/about',{}],:contact=>['/contact',{:directions=>'/pages/directions'}]}) %>
	  <% end %>
	</p>
      </div>

    </div>
  </div>
</div>
