
<%= nested_form_for(@inventory,:html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= mytextfield f,:name,:name %>
  <%= mytextarea f,:notes,:notes, {:rows=>5} %>
  <%= mysubmit f,"Save" %>
<% end %>
