<div class="row">
  <div class="span8">
    <h1>Lists</h1>
    
    <table class="table">
      <tr>
	<th><%= sortable "created_at", "Created" %></th>
	<th><%= sortable "name", "Name" %></th>
	<th>Description</th>
	<% if can? :edit,TitleList %>
	<th>Public?</th>
	<th><%= sortable "titles_in_stock", "Titles in stock" %></th>
	<th><%= sortable "total_titles", "Total titles" %></th>
	<th></th>
	<th></th>
	<% end %>
      </tr>
      <% @title_lists.each do |title_list| %>
      <tr> 
	<td><%= title_list.created_at.to_formatted_s(:just_date) %></td>
	<td><%= link_to title_list.name,title_list %></td>
	<td><%= title_list.description %></td>
	<% if can? :edit,TitleList %>
	<td><%= title_list.public %></td>  
	<td><%= title_list.titles_in_stock %></td>
	<td><%= title_list.total_titles %></td>
	<td><%= mylinkbutton "Edit",edit_title_list_path(title_list) %> </td>
	<td><%= link_to "CSV",title_list_path(title_list,:format=>:csv) %></td>
	<% end %>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="span4">
    <%=  mylinkbutton "<i class='fa fa-plus-circle'></i> New List", new_title_list_path   if can? :create, TitleList %>
  </div>
</div>
