<% content_for :title do%>
    <%= @title_list.name %>
<% end %>

<% content_for :og do%>
<% begin %>
<meta property="og:image" content="https://redemmas.org/<%= @title_list.titles.first.latest_published_edition.cover_url(:medium) %>">
<% rescue %>

<% end %>
<% end %>
 

<% content_for :description do%><%=h truncate(sanitize(@title_list.description, :tags=>[]),:length => 250) %><% end %>


<div class="span8">
<p id="notice"><%= notice %></p>

<div style="float:right;">
  <%= mylinkbutton 'Edit', edit_title_list_path(@title_list) if can? :edit,TitleList %>
</div>  
<h1>List: <%= @title_list.name %></h1>
<p>
  <%= sanitize @title_list.description %>
</p>

<div class="grid">
  <% @title_list.title_list_memberships.each do |tlm| %>
  <%= render :partial=>'titles/gridtitle', :locals=>{:title=>tlm.title,:text=>(tlm.notes || "") } unless tlm.title.nil? %>
  <% end %>
</div>
<%= theme_partial :social %>
</div>



  
