<p id="notice"><%= notice %></p>

<div style="float:right;">
  <%= mylinkbutton 'Edit', edit_title_list_path(@title_list) if can? :edit,TitleList %>
</div>  
<h1>List: <%= @title_list.name %></h1>
<p>
  <%= sanitize @title_list.description %>
</p>

<% @title_list.title_list_memberships.each do |tlm| %>
<div class="list-entry-text"><%= raw tlm.notes %></div>
<%= render :partial=>'titles/title', :object=>tlm.title %>
<% end %>
  
