<% content_for :title do%>
    <%= @title_list.name %>
<% end %>

<% content_for :og do%>
<% begin %>
<meta property="og:image" content="https://redemmas.org/<%= @title_list.titles.first.latest_published_edition.cover_url(:medium) %>">
<% rescue %>

<% end %>
<% end %>
 

<% content_for :description do%><%=h truncate(sanitize(@title_list.description, :tags=>[]),:length => 250) %><% end %>


<div class="row spaceontop">
  <p id="notice"><%= notice %></p>
  
  <div class="col-xs-12 col-sm-8">
    <h1 class="headername"><%= @title_list.name %></h1>
  </div>
  <div class="col-xs-12 col-sm-4">
    <%= theme_partial :social %>
    <%= mylinkbutton 'Edit', edit_title_list_path(@title_list) if can? :edit,TitleList %>
  </div>
  <div class="introduction col-xs-12 col-sm-8">
    <%= sanitize @title_list.description %>
  </div>
</div>
<div class="row">
  <div class="grid">
    <%= make_a_grid_from_tlm(@title_list.title_list_memberships) %>
  </div>
</div>

<%= render "/titles/searchbrowse" %>


  
