<%= nested_form_for(@edition ,:html => {:multipart=>true,:class=>"form-horizontal"}) do |f| %>

<h1>for <%= @edition.title %></h1>

  <% if @edition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edition.errors.count, "error") %> prohibited this edition from being saved:</h2>
      
      <ul>
      <% @edition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= myselectfield f,:title,:title,autocomplete_title_title_editions_path %>
  <%= mytextfield f,:isbn13, :isbn13 %>
  <%= mytextfield f,:isbn10, :isbn10 %>
  <%= mytextfield f,:year_of_publication, :year_of_publication %>
  <%= myselectfield f,:publisher,:publisher,autocomplete_publisher_name_titles_path,new_publisher_path %>

  <div class="field control-group">
    <%= f.label :list_price, :class=>'control-label' %>
    <div class="controls">
      
      <div class="input-prepend">
	<span class="add-on">$</span>
	<%= f.text_field :list_price,:placeholder=>"List price",:class=>"input-mini" %>
      </div>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :format, :class=>'control-label' %>
    <div class="controls">
      <%= f.select :format, Edition.formats %>
    </div>
  </div>
  
  <%= mycheckbox f,:in_print,:in_print,{"data-on-label"=>"Yes","data-off-label"=>"No"} %>

  <%= mytextarea f,:notes,:notes %>

  <div class="field control-group">
    <%= f.label :cover,:class=>"control-label" %>
    <div class="controls">
      <%= f.file_field :cover %>
    </div>
  </div>
    


    <%= mysubmit f, "Save" %>

<% end %>
