<h1>Listing editions</h1>

<table>
  <tr>
    <th>Isbn13</th>
    <th>Isbn10</th>
    <th>Year of publication</th>
    <th>Format</th>
    <th>In print</th>
    <th>Notes</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @editions.each do |edition| %>
  <tr>
    <td><%= edition.isbn13 %></td>
    <td><%= edition.isbn10 %></td>
    <td><%= edition.year_of_publication %></td>
    <td><%= edition.format %></td>
    <td><%= edition.in_print %></td>
    <td><%= edition.notes %></td>
    <td><%= edition.title %></td>
    <td><%= link_to 'Show', edition %></td>
    <td><%= link_to 'Edit', edit_edition_path(edition) %></td>
    <td><%= link_to 'Destroy', edition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Edition', new_edition_path %>
