<%= form_for(@event_shift) do |f| %>
  <% if @event_shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_shift.errors.count, "error") %> prohibited this event_shift from being saved:</h2>

      <ul>
      <% @event_shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_staffer %><br />
    <%= f.text_field :event_staffer %>
  </div>
  <div class="field">
    <%= f.label :event %><br />
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
