<%= nested_form_for(@purchase_order,:html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @purchase_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase_order.errors.count, "error") %> prohibited this purchase_order from being saved:</h2>
      <ul>
      <% @purchase_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= mytextfield f,:number,:number %>
  <%= myselectfield f,:distributor,:distributor,autocomplete_distributor_name_purchase_orders_path, new_distributor_path() %> 
  <%= myselectfield f,:owner,"Who will own these books?",autocomplete_owner_name_owners_path, new_owner_path() %> 
  <%= mydatefield f,"When do we need these books by?",:order_by_when %>
  <div class="field control-group">
    <%= f.label :tag, :class=>'control-label' %>
    <div class="controls">
      <%= f.select :tag, PurchaseOrder.tags %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :Edelweiss_Upload, :class=>'control-label' %>
    <div class="controls">
      <%= f.file_field :editions %>
    </div>
  </div>
  <%= myplaintextarea f,:notes,:notes, {:rows=>5} %>

  

<%=  mysubmit(f,"Create") %>
  </div>
<% end %>
