

<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-8">
      <p id="notice"><%= notice %></p>      

      <h1>Purchase Order: <%= @purchase_order.number %></h1>
      
      <% if ! @purchase_order.ordered? %>
      <%= nested_form_for(PurchaseOrderLineItem.new, :remote=>true,:html=>{:class=>"form-horizontal"}) do |f| %>


      <%= f.hidden_field(:purchase_order_id,:value => @purchase_order.id) %>
      <%= f.hidden_field(:edition_id) %>
      <%= f.hidden_field(:customer_id) %>
      
      <%= my_autocomplete_field_tag f,:item,:edition,autocomplete_editions_path , 
	  link_to_function(content_tag(:i,"",:class=>"fa fa-plus-circle"),
                           "window.open('#{new_title_path}?isbn='+$('#item').val())", 
                  {:class=>'btn'}) %>


      <%= my_autocomplete_field_tag f,:customer,:customer,autocomplete_customer_name_customers_path, 
	  link_to_function(content_tag(:i,"",:class=>"fa fa-plus-circle"),
      "window.open('#{new_customer_path}?customer_name='+$('#customer').val())", 
      {:class=>'btn'}) %>

	   <script>
	     $('#item').bind('railsAutocomplete.select', function(event, data){
	     $("#purchase_order_line_item_edition_id").val(data.item.id);

	     });
	     
	     $('#customer').bind('railsAutocomplete.select', function(event, data){
	     $("#purchase_order_line_item_customer_id").val(data.item.id);

	     });

	     
	   </script>

	   <%= mylinkbutton("<i class='fa fa-plus-circle'></i> Add","#",{:id=>"add_purchase_order_line_item"}) %> 
	 <% end %>
       <% end %>
       
       <table class="table" id="line_items">
	 <tr><th>Quantity ordered</th><th>Title</th><th>ISBN</th><th>List price</th><th>Ext</th><th>Quantity received</th><th>Cancelled</th><th>Customer</th><th>Notes</th><th>Move</th></tr>
	 <% @purchase_order_line_items.each do |li| %>
	 <%= render li %>
	 <% end %>
      </table>
       <%= paginate @purchase_order_line_items %>
    </div>
    <div class="col-md-4">
      <%= mypostlinkbutton("<i class='fa fa-check-circle-o'></i> Submit order",submit_purchase_order_path(@purchase_order)) unless @purchase_order.ordered? %>
      <%= mypostlinkbutton("<i class='fa fa-check-circle-o'></i> Receive order",receive_purchase_order_path(@purchase_order)) if @purchase_order.ordered? %>
      <%= mypostlinkbutton("<i class='fa fa-trash'></i> Cancel outstanding",cancel_purchase_order_path(@purchase_order)) if @purchase_order.ordered? %>
      <%= mylinkbutton("<i class='fa fa-pencil'></i> Edit", edit_purchase_order_path(@purchase_order)) %> 
      <%= mylinkbutton("<i class='fa fa-print'></i> Print", purchase_order_path(@purchase_order,:format=>'pdf')) %> 
      <%= mylinkbutton("<i class='fa fa-font'></i> Text export", purchase_order_path(@purchase_order,:format=>'txt'),:target=>"_blank") %> 
            <table class="table">
	<tr>
	  <th>Our PO number:</th>
	  <td><%= @purchase_order.number %></td>
	</tr>
	
	<tr>
	  <th>Distributor:</th>
	  <td><%= link_to @purchase_order.distributor, @purchase_order.distributor %></td>
	</tr>
	
	<tr>
	  <th>Intended Owner:</th>
	  <td><%= link_to @purchase_order.owner, @purchase_order.owner unless @purchase_order.owner.nil? %></td>
	</tr>

	
	<tr>
	  <th>Estimated retail total:</th>
	  <td><span id="total">$<%= @purchase_order.estimated_total %></span></td>
	</tr>

	<tr>
	  <th>Units</th>
	  <td><span id="number_of_copies"><%= @purchase_order.number_of_copies %></span></td>
	</tr>


	<tr>
	  <th>Order this by:</th>
	  <td><%= @purchase_order.order_by_when.to_formatted_s(:just_date) rescue "n/a" %></td>
	</tr>

	
	<tr>
	  <th>Ordered?</th>
	  <td><%= @purchase_order.ordered? ? @purchase_order.ordered_when.to_formatted_s(:just_date) : "Not yet" %></td>
	</tr>
	
	<tr>
	  <th>Tag</th>
	  <td><%= @purchase_order.tag %></td>
	</tr>
	
	<tr>
	  <th>Notes:</th>
	  <td><%= best_in_place @purchase_order, :notes, :type => :textarea %></td>
	</tr>
      </table>

    </div>
  </div>
</div>
 

<script>
  function afterQuantityChange() { 
  var self=$(this);
  
  if (self.data('customer') == "1" && self.data('bip-value').length>0){

  $("#poli_customer_link_"+self.data('purchase-order-line-item')).html("<a href='/customers/"+self.data('bip-value')+"'><i class='fa fa-arrow-right'></i></a>");
  }


  $.getJSON('/purchase_order_line_items/'+$(this).data('purchase-order-line-item')+'.json',function(data){
  $("#purchase_order_line_item_"+self.data('purchase-order-line-item')+" .ext_price").html(data.ext_price_string);
										    });
										    
  $.getJSON('/purchase_orders/'+$(this).data('purchase-order'),function(data){
  $("#total").html(data.estimated_total_string);});
  
}
  $('.best_in_place').bind("ajax:success", afterQuantityChange);
  // this replaces, but needs to be rebound

</script>


