
<table class="table">
  <tr>
    <th>Our PO number:</th>
    <td><%= @purchase_order.number %></td>
  </tr>

  <tr>
    <th>Distributor:</th>
    <td><%= link_to @purchase_order.distributor, @purchase_order.distributor %></td>
  </tr>
  
  <tr>
    <th>Customer:</th>
    <td><%= link_to @purchase_order.customer,@purchase_order.customer %></td>
  </tr>
  
  <tr>
    <th>Notes:</th>
    <td><%= best_in_place @purchase_order, :notes, :type => :textarea %></td>
  </tr>
</table>




<p>
  <b>Ordered:</b>
  <%= @purchase_order.ordered %>
</p>

<p>
  <b>Ordered when:</b>
  <%= @purchase_order.ordered_when %>
</p>


<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
