<% if ! purchase_order_line_item.edition.nil? %>
	 <tr id="purchase_order_line_item_<%= purchase_order_line_item.id %>">
	   <td>
	     <%= best_in_place_if (! purchase_order_line_item.purchase_order.ordered?),purchase_order_line_item, :quantity, :type => :input, :inner_class=>"input-tiny", :data => {:purchase_order_line_item => purchase_order_line_item.id,:purchase_order => purchase_order_line_item.purchase_order.id} %>
	  </td>
	  <td><%= link_to "#{purchase_order_line_item.edition.title.title} #{purchase_order_line_item.edition.number}", purchase_order_line_item.edition.title, :target=>"blank",:title=>"#{purchase_order_line_item.edition.publisher}\nIn stock (all editions): #{purchase_order_line_item.edition.title.in_stock}\nOn submitted po's but not received: #{purchase_order_line_item.edition.title.on_order} " %></td>
	  <td><%= purchase_order_line_item.isbn %></td> 
	  <td><%= purchase_order_line_item.edition.list_price %></td>
	  <td class="ext_price"><%= purchase_order_line_item.ext_price %></td>
	   <td>
	     <%= purchase_order_line_item.received %><br />
	     <% purchase_order_line_item.invoice_line_items.each do |li| %>
	     <% if li.quantity > 0 %>
	     <small><%= link_to "Invoice #{li.invoice.id}",li.invoice %></small>
	     <% end %>
	     <% end %>
	   </td>
	   <td>	 <%= purchase_order_line_item.cancelled %></td>
	   <td><%= link_to purchase_order_line_item.customer.name, purchase_order_line_item.customer unless purchase_order_line_item.customer.nil? %></td>
	   <td>
	     <% unless purchase_order_line_item.purchase_order.ordered? %>
	     <%= link_to raw('<i class="fa fa-circle-check-o"></i>'), hidden_actions_purchase_order_line_item_path(purchase_order_line_item),  {:remote => true, 'data-toggle' =>  'modal', :role=>'button', 'data-target' => '#modal-window'} %>
	     <% end %>
	   </td>
	 </tr>
<% end %>
