	 <tr id="purchase_order_line_item_<%= purchase_order_line_item.id %>">
	   <td>
	     <%= best_in_place_if (! purchase_order_line_item.purchase_order.ordered?),purchase_order_line_item, :quantity, :type => :input, :data => {:purchase_order_line_item => purchase_order_line_item.id,:purchase_order => purchase_order_line_item.purchase_order.id} %>
	  </td>
	  <td><%= link_to purchase_order_line_item.edition.title.title, purchase_order_line_item.edition.title, :target=>"blank" %></td>
	  <td><%= purchase_order_line_item.isbn %></td> 
	  <td><%= purchase_order_line_item.edition.list_price %></td>
	  <td class="ext_price"><%= purchase_order_line_item.ext_price %></td>
	 </tr>
