<%= nested_form_for(@invoice,:html=>{:class=>"form-horizontal"}) do |f| %>

  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= mytextfield f,:number,:number %>
  <%= myselectfield f,:distributor,:distributor,autocomplete_distributor_name_purchase_orders_path, new_distributor_path() %> 
  <%= myselectfield f,:owner,:owner,autocomplete_owner_name_owners_path, new_owner_path() %> 
  <%= mymoneyfield f,:shipping_cost,:shipping_cost %>
  <%= mytextfield f,:received_by,:received_by %>
  <%= myplaintextarea f,:notes,:notes, {:rows=>5} %>

  <%=  mysubmit(f,"Create") %>

<% end %>
