

<h1>Listing invoices</h1>

<%= mylinkbutton 'New Invoice', new_invoice_path %>

<table class="table">
  <tr>
    <th><%= sortable "created_at", "Created" %></th>
    <th><%= sortable "id","Our id" %></th>
    <th><%= sortable "number","Vendor Number" %></th>
    <th><%= sortable "distributors.name","Distributor" %></th>
    <th>Notes</th>
    <th># of books</th>
    <th>Total</th>
    <th><%= sortable "received_when","Received?" %></th>
    <th>Sold to date</th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= invoice.created_at.to_formatted_s(:just_date) %>
    <td><%= link_to invoice.id,invoice %>
    <td><%= link_to invoice.number,invoice %></td>
    <td><%= link_to invoice.distributor,invoice.distributor %></td>
    <td><%= invoice.notes %></td>
    <td><%= invoice.total_copies %></td>
    <td><%= invoice.total_cost+invoice.shipping_cost %></td>
    <td><%= invoice.received?  ? invoice.received_when.to_formatted_s(:just_date) : "No" %></td>
    <td><%= invoice.received? ? invoice.sales_to_date : "n/a" %></td>
    <td><%= mylinkbutton 'Edit', edit_invoice_path(invoice),{},"btn-small" %></td>
  </tr>
<% end %>
</table>
<br />
<%= paginate @invoices %>





