<div class="row">
<div class="span8">
<h1>Listing invoices</h1>

<table class="table">
  <tr>
    <th>Our id</th>
    <th>Vendor Number</th>
    <th>Distributor</th>
    <th>Notes</th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= link_to invoice.id,invoice %>
    <td><%= link_to invoice.number,invoice %></td>
    <td><%= link_to invoice.distributor,invoice.distributor %></td>
    <td><%= invoice.notes %></td>
    <td><%= mylinkbutton 'Edit', edit_invoice_path(invoice),{},"btn-small" %></td>
  </tr>
<% end %>
</table>

</div>
<div class="span4">

<%= mylinkbutton 'New Invoice', new_invoice_path %>
</div>
</div>
