
<div class="container">
  <div class="row">
    
    <div class="span8">
      <p id="notice"><%= notice %></p>      
      <h1>INVOICE <%= @invoice.id %></h1>

      <% if ! @invoice.received? %>
      <%= nested_form_for(InvoiceLineItem.new, :remote=>true,:html=>{:class=>"form-horizontal"}) do |f| %>
      
      <%= f.hidden_field(:invoice_id,:value => @invoice.id) %>
      <%= f.hidden_field(:edition_id) %>
      
      <%= my_autocomplete_field_tag f,
	  :item,:edition,
	  autocomplete_editions_path,
	  link_to_function(content_tag(:i,"",:class=>"icon-plus"),
      "window.open('#{new_title_path}?isbn='+$('#item').val())", 
      {:class=>'btn'}) %>

      <%= mytextfield f,:quantity_received,:quantity %>
      
      <script>
	$('#item').bind('railsAutocomplete.select', function(event, data){
	$("#invoice_line_item_edition_id").val(data.item.id);
	});
      </script>
      
      <%= mylinkbutton("<i class='icon-plus'></i> Add","#",{:id=>"add_invoice_line_item"}) %> 

	   
      <% end %>
      <% end %>

      <table class="table" id="invoice_line_items">
	<tr><th>PO#</th><th>Quantity</th><th>Title</th><th>ISBN</th><th>List price</th><th>Discount</th><th>Ext</th></tr>
 	 <% @invoice.invoice_line_items.each do |li| %>
	 <%= render li %>
	 <% end %>
      </table>

      
    </div>
    
    <div class="span4">

      <% if ! @invoice.received? %>
      <%= mypostlinkbutton("<i class='icon-ok-sign'></i> Receive invoice",receive_invoice_path(@invoice)) %>
      <% end %>
      
       <table class="table">
	 <tr><th>Vendor Number</th><td><%= best_in_place @invoice, :number, :type => :input %></td></tr>
	 <tr><th>Distributor</th><td><%= link_to @invoice.distributor.name, @invoice.distributor %></td></tr>
	 <tr><th>Owner</th><td><%= link_to @invoice.owner.name, @invoice.owner %></td></tr>
	 <tr><th>Received</th><td><%= @invoice.received_when.to_formatted_s(:just_date) rescue "No" %></td></tr>
	 <tr><th># of titles</th><td><%= @invoice.total_titles %></td></tr>
	 <tr><th># of books</th><td><%= @invoice.total_copies %></td></tr>
	 <tr><th>Cost of books</th><td>$<%= @invoice.total_cost %></td></tr>
	 <tr><th>Shipping costs</th><td>$<%= best_in_place @invoice, :shipping_cost, :type => :input %></td></tr>
	 <tr><th>Total</th><th>$<%= @invoice.total_cost+@invoice.shipping_cost %></th></tr>
	 <tr><th>Notes</th><td><%= best_in_place @invoice, :notes, :type => :textarea %></td></tr>
       </table>
 
      

    </div>

  </div>
</div>
