<%= form_for(@owner,:html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= mytextfield(f,:name,:name) %>
  <%= mytextarea(f,:notes,:notes,{:size=>"40x5"}) %>    
  <%= mysubmit(f,"Save") %>
<% end %>
