<div class="span8">
<h1>Listing distributors</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Our account number</th>
    <th>Notes</th>
    <th></th>
  </tr>

<% @distributors.each do |distributor| %>
  <tr>
    <td><%= link_to distributor.name, distributor %></td>
    <td><%= distributor.our_account_number %></td>
    <td><%= distributor.notes %></td>
    <td><%= mylinkbutton 'Edit', edit_distributor_path(distributor) , {}, "btn-small" %></td>
  </tr>
<% end %>
</table>
</div>
<div class="span2">

<%= mylinkbutton 'New Distributor', new_distributor_path %>
</div>

