<p id="notice"><%= notice %></p>

<h1>
  <%= @distributor.name %>
</h1>

  <div style="float:right;"><%=  link_to raw("<i class='icon-edit'></i>"), edit_distributor_path(@distributor)   if can? :edit, Distributor %></div>

<p>
  <b>Our account number:</b>
  <%= @distributor.our_account_number %>
</p>

<p>
  <b>Notes:</b>
  <%= @distributor.notes.html_safe rescue "" %>
</p>

<div class="span6">
<h2>Listing purchase orders</h2>

<%= mylinkbutton 'New Purchase order', new_purchase_order_path(:distributor=>@distributor) %>

<table class="table">
  <tr>
    <th><%= sortable "created_at", "Created" %></th>
    <th><%= sortable "number", "Number" %></th>
    <th>Notes</th>
    <th>Ordered?</th>
    <th>Ordered When</th>
  </tr>

<% @distributor.purchase_orders.order(sort_column + ' ' + sort_direction).each do |purchase_order| %>
  <tr>
    <td><%= purchase_order.created_at.to_formatted_s(:just_date) %></td>
    <td><%= link_to purchase_order.number,purchase_order %></td>
    <td><%= purchase_order.notes %></td>
    <td><span class="label <%= purchase_order.ordered? ? 'label-success' : ''%>"><%= purchase_order.ordered? ? 'Yes' : 'Not yet' %></span></td>
    <td><%= purchase_order.ordered_when.to_formatted_s(:just_date) rescue "-" %></td>
  </tr>
<% end %>
</table>

<h2>Listing returns</h2>

<%= mylinkbutton 'New Return', new_return_order_path(:distributor=>@distributor) %>

<table class="table">
  <tr>
    <th><%= sortable "created_at", "Created" %></th>
    <th><%= sortable "number", "Number" %></th>
    <th>Total</th>
    <th>Posted when</th>
  </tr>
  
  <% @distributor.return_orders.order(sort_column + ' ' + sort_direction).each do |return_order| %>
  <tr>
    <td><%= return_order.created_at.to_formatted_s(:just_date) %></td>
    <td><%= link_to return_order.number,return_order %></td>
    <td><%= return_order.total %></td>
    <td><%= return_order.posted_when.to_formatted_s(:just_date) rescue "-" %></td>
  </tr>
  <% end %>
</table>

</div>
 
<div class="span6">
<h2>Listing invoices</h2>

<%= mylinkbutton 'New Invoice', new_invoice_path(:distributor => @distributor) %>

<table class="table">
  <tr>
    <th><%= sortable "created_at", "Created" %></th>
    <th><%= sortable "id","Our id" %></th>
    <th><%= sortable "number","Vendor Number" %></th>
    <th>Notes</th>
    <th># of books</th>
    <th>Total</th>
    <th>Received?</th>
    <th>Sold to date</th>
  </tr>

<% @distributor.invoices.order(sort_column + ' ' + sort_direction).each do |invoice| %>
  <tr>
    <td><%= invoice.created_at.to_formatted_s(:just_date) %>
    <td><%= link_to invoice.id,invoice %>
    <td><%= link_to invoice.number,invoice %></td>
    <td><%= invoice.notes %></td>
    <td><%= invoice.total_copies %></td>
    <td><%= invoice.total_cost+invoice.shipping_cost %></td>
    <td><%= invoice.received?  ? invoice.received_when.to_formatted_s(:just_date) : "No" %></td>
    <td><%= invoice.received? ? invoice.sales_to_date : "n/a" %></td>
  </tr>
<% end %>
</table>
</div>
<div class="span8">
<h2>Titles we have receieved through this distributor</h2>
  <div class="grid">  
    <% @distributor.titles.order('id desc').each do |t,i| %>
    <%= render :partial=>'titles/gridtitle', :locals => {:title=>t,:text=>""}%>
    <% end %>
  </div>


</div>
