<h1>Listing shopping_carts</h1>

<table class="table">
  <tr>
    <th>Cart #id</th>
    <th>Ordered?</th>
    <th>Shipping method</th>
    <th>Shipping name</th>
    <th>Where to?</th>
    <th>Email</th>
    <th>Total # Items</th>
    <th>Items</th>
    <th>Total</th>
    <th>Status?</th>
    <th>Completed?</th>
  </tr>

<% @shopping_carts.each do |shopping_cart| %>
  <tr>
    <td><small><%= link_to shopping_cart.id, shopping_cart %></small></td>
    <td><small><%= shopping_cart.ordered? ? shopping_cart.submitted_when.to_formatted_s(:full_date_time) : "Not yet"  %></small></td>
    <td><small><%= shopping_cart.shipping_method %></small></td>
    <td><small><%= shopping_cart.shipping_name %></small></td>
    <td><small><%= shopping_cart.shipping_city %>, <%= shopping_cart.shipping_state %></small></td>
    <td><small><%= mail_to shopping_cart.shipping_email,nil,{:subject=>"About Your Red Emma's Order"} %></small></td>
    <td><%= shopping_cart.number_of_items %></td>
    <td>
      <small>
	<ul>
	<% shopping_cart.shopping_cart_line_items.each do |li| %>
      <li><%= li.quantity %>x <%= link_to "#{li.edition.title}",li.edition %>
      <% end %>
      </ul>
      </small>
    </td>
    <td><%= shopping_cart.total %></td>
    <td>
      <% [:pulled,:sold_through,:shipped,:pickup_notify,:picked_up,:is_preorder].each do |x| %>
      <% if shopping_cart.send("#{x}?") %>
      <span class="label label-default"><%= "#{x}" %></span>
      <% end %>
      <% end %>
    </td>
    <td>
      <% if shopping_cart.completed? %>
      <span class="label label-success">Yes</span>
      <% else %>
      <span class="label label-important">No</span>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @shopping_carts %>

<div>
<%= link_to "Delete unused carts", garbagecollect_shopping_carts_path, :class => "btn btn-primary", :method => :post %>
</div>
