<h1>Listing shopping_carts</h1>

<table>
  <tr>
    <th>Session</th>
    <th>Submitted</th>
    <th>Shipping name</th>
    <th>Shipping address 1</th>
    <th>Shipping address 2</th>
    <th>Shipping state</th>
    <th>Shipping city</th>
    <th>Shipping zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shopping_carts.each do |shopping_cart| %>
  <tr>
    <td><%= shopping_cart.session_id %></td>
    <td><%= shopping_cart.submitted %></td>
    <td><%= shopping_cart.shipping_name %></td>
    <td><%= shopping_cart.shipping_address_1 %></td>
    <td><%= shopping_cart.shipping_address_2 %></td>
    <td><%= shopping_cart.shipping_state %></td>
    <td><%= shopping_cart.shipping_city %></td>
    <td><%= shopping_cart.shipping_zip %></td>
    <td><%= link_to 'Show', shopping_cart %></td>
    <td><%= link_to 'Edit', edit_shopping_cart_path(shopping_cart) %></td>
    <td><%= link_to 'Destroy', shopping_cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shopping cart', new_shopping_cart_path %>
