<h1>Listing shopping_carts</h1>

<table class="table">
  <tr>
    <th>Cart #id</th>
    <th>Ordered?</th>
    <th>Shipping method</th>
    <th>Shipping name</th>
    <th>Shipping state</th>
    <th>Shipping city</th>
    <th>Items</th>
    <th>Total</th>
    <th>Completed?</th>
  </tr>

<% @shopping_carts.each do |shopping_cart| %>
  <tr>
    <td><%= link_to shopping_cart.id, shopping_cart %></td>
    <td><%= shopping_cart.ordered? ? shopping_cart.submitted_when.to_formatted_s(:full_date_time) : "Not yet"  %></td>
    <td><%= shopping_cart.shipping_method %></td>
    <td><%= shopping_cart.shipping_name %></td>
    <td><%= shopping_cart.shipping_state %></td>
    <td><%= shopping_cart.shipping_city %></td>
    <td><%= shopping_cart.number_of_items %></td>
    <td><%= shopping_cart.total %></td>
    <td>
      <% if shopping_cart.completed? %>
      <span class="label label-success">Yes</span>
      <% else %>
      <span class="label label-important">No</span>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @shopping_carts %>

