<p id="notice"><%= notice %></p>

</div>
<div class="row spaceontop">
  <div class="col-sm-8">
<h1>Who is this order for?</h1>
<pre>
  <%= @shopping_cart.shipping_name %>
  <%= @shopping_cart.shipping_address_1 %>
  <%= @shopping_cart.shipping_address_2 %>
  <%= @shopping_cart.shipping_city %> <%= @shopping_cart.shipping_state %>   <%= @shopping_cart.shipping_zip %>
</pre>


<% if @shopping_cart.easypost_shipment_id.nil? && @shipment.nil? %>
<% if @shopping_cart.ordered? && !@shopping_cart.completed? && !@shopping_cart.shipping_address_1.blank? %>
<%= mypostlinkbutton("<i class='fa fa-envelope'></i> Ship order via Media Mail",ship_shopping_cart_path(@shopping_cart,:rate=>"MediaMail"),{},{},"btn-small btn-success")  %>
<%= mypostlinkbutton("<i class='fa fa-envelope'></i> Ship order via Priority",ship_shopping_cart_path(@shopping_cart,:rate=>"Priority"),{},{},"btn-small btn-success") %>
<%= mypostlinkbutton("<i class='fa fa-envelope'></i> Ship order via Priority Flat Rate",ship_shopping_cart_path(@shopping_cart,:rate=>"PriorityFR"),{},{},"btn-small btn-success") %>
<% end %>
<% else %>
<%= link_to "Print postage",@shipment.postage_label.label_url, :target=>"_blank", :class=>"btn btn-success btn-small"  %> 
<%= link_to "Track",@shipment.tracker.public_url, :target=>"_blank", :class=>"btn btn-warning btn-small"  %> 
<table class="table">
  <tr><th>Status</th><td><%= @shipment.tracker.status %></td></tr>
  <tr><th>Estimated delivery date</th><td><%= @shipment.tracker.est_delivery_date %></td></tr>
  <tr><th>Tracker URL</th><td><%= @shipment.tracker.public_url %></td></tr>
  <tr><th>Tracking #</th><td><%= @shipment.tracker.tracking_code %></td></tr>
</table>

<% end %>
<br /><br />
<h2>Customer notes:</h2>
<div class="well">
<%= @shopping_cart.shipping_notes %>
</div>

<table class="table">
  <tr><th>Quantity</th><th>Item</th><th>Item Price</th><th>Total</th><th></th><th></th></tr>
<% @shopping_cart.shopping_cart_line_items.each do |li| %>
  <tr class="shopping_cart_line_item" id="shopping_cart_line_item_#{@li.id}">
    <td><%= li.quantity %></td>	
    <td><%= link_to "#{li.edition.title} #{li.edition}",li.edition %></td>
    <td>$<%= li.cost %></td>
    <td class="ext" id="shopping_cart_line_item_<%= li.id %>_ext">$<%= li.cost * li.quantity %></td>
    <td class="small">
      <table class="table table-condensed">
	<tr><td style="padding:2px;">Publisher:</td><td style="padding:2px;"><%= link_to li.edition.publisher.name,li.edition.publisher rescue ""%></td></tr>
	<tr><td style="padding:2px;">In stock (all editions):</td><td style="padding:2px;"><%= "#{li.edition.copies.where(:status=>"STOCK").length} (#{li.edition.title.in_stock})" %></td></tr>
	<tr><td style="padding:2px;">On order:</td><td style="padding:2px"><%= li.edition.title.on_order %></td></tr>
	<tr><td style="padding:2px;">On unsold through online orders:</td><td style="padding:2px"><%= li.edition.needed_for_online %></td></tr>
      </table>
      <%= mypostlinkbutton("<i class='fa fa-cut'></i> Split to new order","/shopping_cart_line_items/#{li.id}/split",{},{},"btn-small btn-success") if ((@shopping_cart.shopping_cart_line_items.length > 1) && @shopping_cart.ordered? && !@shopping_cart.completed? && !@shopping_cart.shipped && !@shopping_cart.pulled && !@shopping_cart.picked_up ) %>
     
    </td>
  </tr>
<% end %>
<tr>
  <td></td>
  <td></td>
  <td>Subtotal:</td>
  <td>$<span id="cart_subtotal"><%= @shopping_cart.subtotal %></span></strong></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td>Shipping: <strong><span id='shipping_method'><%= @shopping_cart.shipping_method %></strong>
    <% if @shopping_cart.shipping_method == "Pickup" && @shopping_cart.ordered? && @shopping_cart.sold_through? && ! @shopping_cart.pickup_notify? %>
    <%= mail_to @shopping_cart.shipping_email, "Notify ready for pickup", id: "pickup_notifier", class: "btn btn-success", onclick: "$.post('/shopping_carts/#{@shopping_cart.id}/toggle_pickup_notify',function(data){$('#cart_state_text_pickup_notify').text('Yes');$('#cart_state_button_text_pickup_notify').text('');$('#cart_state_button_pickup_notify').addClass('fa-undo fa')});$('#pickup_notifier').hide();", subject: "Your Red Emma's order is ready to be picked up!", body: 
(TextFragment.find_by_name('pickup_ready_header').sometext rescue 'Add a text fragment called pickup_ready_header') + "\r\n\r\n" +  @shopping_cart.shopping_cart_line_items.collect{|x| x.quantity.to_s + ' x ' +  x.edition.title.title}.join("\r\n") +  "\r\n\r\n" + (TextFragment.find_by_name('pickup_ready_footer').sometext rescue 'Add a text fragment called pickup_ready_footer')
 %>
    <% end %>

  </td>
  
  <td></td>
  <td>$<span id='shipping_cost'><%= @shopping_cart.shipping_cost %></span></td>
  <td></td>
</tr>

<tr>
  <td></td>
  <td>Sales tax:</td>
  <td></td>
  <td>$<span id='tax'><%= @shopping_cart.tax %></span></td>
  <td></td>

</tr>

 
<tr>
  <td></td>
  <td></td>
  <td><strong>Total:</strong></td>
  <td><strong>$<span id="cart_total"><%= @shopping_cart.total %></span></strong></td>
  <td></td>
</tr>



</table>


  </div>
  <div class="col-sm-4">
<table class="table">
  <tr>
    <th>Customer email</th>
    <td><%= mail_to @shopping_cart.shipping_email,nil,{:subject=>"About Your Red Emma's Order"} %></td>
  </tr>
  <tr>
    <th>Ordered?</th>
    <td><%= @shopping_cart.ordered? ? @shopping_cart.submitted_when.to_formatted_s(:full_date_time) : "Not yet"  %></td>
  </tr>
  
  <tr class="hideonprint">
    <th>Stripe payment status</th>
    <td><%= @shopping_cart.payment_status %></td>
  </tr>
  <tr class="hideonprint">
      <th>Stripe payment token</th>
    <td><% if !@shopping_cart.shipping_stripe_id.blank?%>
      <%= link_to @shopping_cart.shipping_stripe_id, "https://dashboard.stripe.com/payments/"+@shopping_cart.shipping_stripe_id,{:target=>"_blank"} %>
      <% else %>
      <span class="label label-important">Something wrong: no payment for this order!</span> 
      <% end %>
</td>
  </tr>
   <tr  class="hideonprint"><th>Shipping weight in ounces</th><td><%= best_in_place @shopping_cart, :weight, :as => :select, :collection => (1..320).each_with_object({}) { |num, hash| hash[num] = "#{num} oz." } 
 %></td></tr>

<% [:pulled,:sold_through,:shipped,:pickup_notify,:picked_up,:is_preorder,:needs_attention].each do |x| %>
  <tr  class="hideonprint">
    <th><%= x %>?</th>
    <td>
      <div id="cart_state_text_<%= x %>" style="float:left;margin-right:10px;"><%= @shopping_cart.send("#{x}?") ? "Yes" : "Not yet"  %>     </div>
      <%= mypostlinkbutton("<i id='cart_state_button_#{x}' class='fa fa-check-circle-o'></i> <span id='cart_state_button_text_#{x}'>Mark order as #{x}</span>","/shopping_carts/#{@shopping_cart.id}/toggle_#{x}",{},{},"btn-small btn-success") if (@shopping_cart.ordered? && !@shopping_cart.send("#{x}?") ) %>
      <%= mypostlinkbutton("<i class='fa fa-undo'></i> ","/shopping_carts/#{@shopping_cart.id}/toggle_#{x}",{},{},"btn-small btn-success") if (@shopping_cart.ordered? && @shopping_cart.send("#{x}?") ) %>
 
    </td>
  </tr>
<% end %>




  <tr  class="hideonprint">
    <th>Completed?</th>
    <td>
            <div style="float:left;margin-right:10px;"><%= @shopping_cart.completed? ? @shopping_cart.completed_when.to_formatted_s(:full_date_time) : "Not yet"  %></div>
      <%= mypostlinkbutton("<i class='fa fa-check-circle-o'></i> Mark order as complete",complete_shopping_cart_path(@shopping_cart),{},{},"btn-small btn-success") if (@shopping_cart.ordered? && !@shopping_cart.completed?) %>
    </td>
  </tr>

  <% if !@shopping_cart.completed? %>
  <tr  class="hideonprint">
    <th>Defer?</th>
    <td>
      <div><%= @shopping_cart.deferred? ? "Yes" : ""  %></div>
      <%= mypostlinkbutton("<i class='fa fa-check-circle-o'></i> Dismiss the order alert",defer_shopping_cart_path(@shopping_cart),{},{},"btn-small btn-warning") if (@shopping_cart.ordered? && !@shopping_cart.deferred? && !@shopping_cart.completed?) %>
    </td>
  </tr>
  <% end %>

<% if @shopping_cart.shipping_subscribe? && ! @shopping_cart.shipping_subscribed? %>  
  <tr  class="hideonprint">
    <th>Subscribe to our list</th>
    <td>
      <%= link_to "Add to list",ENV["MAILCHIMP_URL"],{:class=>"btn btn-success btn-mini",:target=>"_blank"} %>
      <br /><br />
   <%= mypostlinkbutton("<i class='fa fa-check-circle-o'></i> Mark as subscribed",subscribe_shopping_cart_path(@shopping_cart),{},{},"btn-small btn-warning") if (! @shopping_cart.shipping_subscribed?) %>
    </td>
  </tr>
<% end %>
   <tr><th>Our notes</th><td><%= best_in_place @shopping_cart, :notes, :as => :textarea, :html_attrs => { :cols => '30', :rows => '20' } %></td></tr>
</table>
  </div>
</div>



<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>
