<%= form_for(@copy) do |f| %>
  <% if @copy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@copy.errors.count, "error") %> prohibited this copy from being saved:</h2>

      <ul>
      <% @copy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :edition %><br />
    <%= f.text_field :edition %>
  </div>
  <div class="field">
    <%= f.label :cost_in_cents %><br />
    <%= f.number_field :cost_in_cents %>
  </div>
  <div class="field">
    <%= f.label :price_in_cents %><br />
    <%= f.number_field :price_in_cents %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :distributor %><br />
    <%= f.text_field :distributor %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :is_used %><br />
    <%= f.check_box :is_used %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
