<%= nested_form_for(@copy,:html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @copy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@copy.errors.count, "error") %> prohibited this copy from being saved:</h2>

      <ul>
      <% @copy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= copy.edition %>, Copy #<%= copy.id %></h2>
  <table class="table">
    <tr><th>Inventoried</th><td><%= copy.inventoried_when.to_formatted_s(:just_date) rescue "" %></td></tr>
    <tr><th>Deinventoried</th><td><%= copy.deinventoried_when.to_formatted_s(:just_date) rescue "" %></td></tr>
  </table>
  

  <%= mymoneyfield f,:cost,:cost %>
  <%= mymoneyfield f,:price,:price %>
  <%= mytextarea f,:notes,:notes %> 
  <%= myselectfield f,:owner,:owner,autocomplete_owner_name_owners_path, new_owner_path() %> 
  <%= mycheckbox f,:is_used,:is_used %> 
  <%= mysubmit(f,"Update") %>

<% end %>
