<h1>Listing copies</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Edition</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Status</th>
    <th>Owner</th>
    <th>Is used</th>
    <th>Ordered</th>
    <th>Received</th>
    <th>Sold</th>
    <th>Returned or Removed</th>
    <th></th>
    <th></th>
  </tr>

<% @copies.each do |copy| %>
  <tr id="copy_<%= copy.id %>">
    <td><%= link_to copy.title,copy.title %></td>
    <td><%= link_to copy.edition,copy.edition %><br /><%= copy.notes %>
</td>
    <td>$<%= copy.cost %></td>
    <td>$<%= copy.price %></td>
    <td class="copy-status">
      <%= copy.status %>
      <% if copy.status=="STOCK" %>
      <% copy.inventory_copy_confirmations.each do |icc| %>
      <% if icc.status %>
      <br /><small><%= link_to icc.inventory.name,icc.inventory,:style=>"color:green;line-height:16px;" %></small>
      <% end %>
      <% end %>
      <% end %>
    </td>
    <td><%= link_to copy.owner.name_and_id, copy.owner rescue "" %></td>
    <td><%= copy.is_used %></td>
    <td>
      <%= copy.invoice_line_item.purchase_order_line_item.purchase_order.ordered_when.to_formatted_s(:just_date) rescue "" %>
      <br />
      <%= link_to copy.invoice_line_item.purchase_order_line_item.purchase_order.number,copy.invoice_line_item.purchase_order_line_item.purchase_order  rescue "" %><br />
        <%= link_to copy.invoice_line_item.invoice.distributor unless copy.invoice_line_item.nil? %>
    </td>
    <td>
      <%= copy.invoice_line_item.invoice.received_when.to_formatted_s(:just_date) rescue "" %>
      <br />
      <%= link_to copy.invoice_line_item.invoice.id,copy.invoice_line_item.invoice rescue "" %></td>
    <td>
      <% if copy.status=="SOLD" && copy.sale_order_line_item %>
      <%= copy.sale_order_line_item.sale_order.posted_when %>
      <% end %>
      <br />
      <% if copy.status=="SOLD" && copy.sale_order_line_item %>
      <%= link_to copy.sale_order_line_item.sale_order.id, copy.sale_order_line_item.sale_order %>
      <% end %>
    </td>
 <td class="copy-removed-when">
      <% if copy.status=="RETURNED" && copy.return_order_line_item %>
      <%= copy.return_order_line_item.return_order.posted_when %>
      <% elsif copy.status=="LOST" %>
      <%= copy.deinventoried_when.to_formatted_s(:just_date) %>
      <% end %>
      <br />
      <% if copy.status=="RETURNED" && copy.return_order_line_item %>
      <%= link_to copy.return_order_line_item.return_order.id, copy.return_order_line_item.return_order %>
      <% end %>
    </td>

    <td>
      <%= mylinkbutton "<i class='fa fa-pencil'></i> Edit", edit_copy_path(copy),{},"btn-mini"   if can? :edit, Copy %>
    </td>
    <td>
      <%= mypostlinkbutton "<i class='fa fa-exclamation-circle-sign'></i> Mark lost", mark_lost_copy_path(copy),{:remote=>true},{},"btn-mini copy-mark-lost"  if (copy.status=="STOCK" && (can? :edit, Copy)) %>
    </td>
  </tr>
<% end %>
</table>




