<p id="notice"><%= notice %></p>

<p>
  <b>Edition:</b>
  <%= link_to "#{@copy.edition.title.title} #{@copy.edition.number} #{@copy.edition}", @copy.edition %>
</p>

<p>
  <b>Cost:</b>
  <%= @copy.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @copy.price %>
</p>

<p>
  <b>Notes:</b>
  <%= @copy.notes %>
</p>


<p>
  <b>Owner:</b>
  <%= @copy.owner %>
</p>

<p>
  <b>Is used:</b>
  <%= @copy.is_used %>
</p>


<%= link_to 'Edit', edit_copy_path(@copy) %> |
<%= link_to 'Back', copies_path %>
