<tr id="sale_order_line_item_<%= sale_order_line_item.id %>"   class="<%= 'warning' if sale_order_line_item.copy.edition.title.in_stock==0 && sale_order_line_item.copy.edition.title.on_order==0 %>" >
  <td><%= link_to sale_order_line_item.copy.edition.title.title, sale_order_line_item.copy.edition, :target=>"blank" %> <small>(Copy #<%= sale_order_line_item.copy.id%>)</small></td>
  <td><%= sale_order_line_item.copy.edition.isbn %></td> 
  <td><%= sale_order_line_item.copy.edition.list_price %></td> 
  <td class="ext_price"><%= best_in_place_if (! sale_order_line_item.sale_order.posted?), sale_order_line_item,:sale_price,:type=>:input, :data => {:sale_order_line_item => sale_order_line_item.id,:sale_order =>sale_order_line_item.sale_order.id} %></td>
  <td>
    <% if sale_order_line_item.sale_order.posted? %>
    <small class="somecategories_for_title_<%= sale_order_line_item.copy.edition.title.id %>"><%= sanitize category_status( sale_order_line_item.copy.edition.title)%></small>
      <%= link_to raw('<i class="fa fa-circle-check-o"></i>'), hidden_actions_edition_path(sale_order_line_item.copy.edition.title.latest_published_edition),  {:remote => true, 'data-toggle' =>  'modal', :role=>'button', 'data-target' => '#modal-window'} unless sale_order_line_item.copy.edition.title.latest_published_edition.nil? %>
    <% end %>
  </td>
  <td><%= link_to("<i class='fa fa-ban'></i>".html_safe, sale_order_line_item, :remote=>true, :method => :delete,:class=>"") if ((can? :destroy, SaleOrderLineItem) && !sale_order_line_item.sale_order.posted?) %>
    <% if (sale_order_line_item.sale_order.posted? && (can? :edit, Title) && ! sale_order_line_item.copy.nil? && ! sale_order_line_item.copy.edition.nil? )%>
      <div class="hiddenactions">
	<%= link_to raw('<i class="fa fa-check-circle-o"></i>'), hidden_actions_edition_path(sale_order_line_item.copy.edition),  {:remote => true, 'data-toggle' =>  'modal', :role=>'button', 'data-target' => '#modal-window'}  %>
      </div>
    <% end %>
  </td>
</tr>
