<h1>Listing sale_order_line_items</h1>

<table>
  <tr>
    <th>Sale order</th>
    <th>Copy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sale_order_line_items.each do |sale_order_line_item| %>
  <tr>
    <td><%= sale_order_line_item.sale_order %></td>
    <td><%= sale_order_line_item.copy %></td>
    <td><%= link_to 'Show', sale_order_line_item %></td>
    <td><%= link_to 'Edit', edit_sale_order_line_item_path(sale_order_line_item) %></td>
    <td><%= link_to 'Destroy', sale_order_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale order line item', new_sale_order_line_item_path %>
