<%= form_for(@author,:html => {:class=>"form-horizontal"}) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :first_name , :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :last_name, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>
  <div class="actions control-group">
    <div class="controls">
      <%= f.submit :value=>"Save",:class => "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
