<%= form_for(@author,:html => {:class=>"form-horizontal"}) do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= mytextfield f,:first_name,:first_name %>
  <%= mytextfield f,:last_name,:last_name %>
  <%= mytextarea f,:bio,:bio %>
  <%= mysubmit f,"Save" %>

<% end %>
