<div class="row spaceontop">
<div style="float:right">
  <%= mylinkbutton 'Edit', edit_author_path(@author) %> 
</div>

<p id="notice"><%= notice %></p>

<h1 class="related">Author: <%= @author.full_name %></h1>
<div class="introduction">
  <%= raw @author.bio %>
</div>

  <%= make_a_grid_from_titles(usefully_sorted(@author.titles)) %>

</div>
