<div style="float:right">
  <%= mylinkbutton 'Edit', edit_author_path(@author) %> 
</div>

<p id="notice"><%= notice %></p>

<h1>Author: <%= @author.full_name %></h1>
<div class="introduction">
  <%= raw @author.bio %>
</div>
<% @author.titles.each do |t|  %>
<%= render :partial=>'titles/title', :object=>t %>
<% end %>
