<%= form_for(@sale_order) do |f| %>
  <% if @sale_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale_order.errors.count, "error") %> prohibited this sale_order from being saved:</h2>

      <ul>
      <% @sale_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from_pos %><br />
    <%= f.check_box :from_pos %>
  </div>
  <div class="field">
    <%= f.label :from_web %><br />
    <%= f.check_box :from_web %>
  </div>
  <div class="field">
    <%= f.label :customer_po %><br />
    <%= f.text_field :customer_po %>
  </div>
  <div class="field">
    <%= f.label :customer %><br />
    <%= f.text_field :customer %>
  </div>
  <div class="field">
    <%= f.label :total_in_cents %><br />
    <%= f.number_field :total_in_cents %>
  </div>
  <div class="field">
    <%= f.label :posted %><br />
    <%= f.check_box :posted %>
  </div>
  <div class="field">
    <%= f.label :discount_percent %><br />
    <%= f.number_field :discount_percent %>
  </div>
  <div class="field">
    <%= f.label :tax_amount_in_cents %><br />
    <%= f.number_field :tax_amount_in_cents %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
