</div>
<div class="row">
  <div class="span8">

<h1>Listing sale_orders</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Source</th>
    <th>Total</th>
    <th>Posted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sale_orders.each do |sale_order| %>
  <tr>
    <td><%= link_to sale_order.id, sale_order %></td>
    <td><%= "POS" if sale_order.from_pos  %><%= "WEB" if sale_order.from_web %></td>
    <td><%= sale_order.total %></td>
    <td><%= sale_order.posted? ? "#{sale_order.posted_when.to_formatted_s(:just_date)}  #{sale_order.posted_when.to_formatted_s(:just_time)}" : "No"  %></td>
  </tr>
<% end %>
</table>

</div>
<div class="span4">

  <%= link_to 'New Sale order', new_sale_order_path %>
</div>
</div>
