<div class="container">
  <div class="row">
    
    <div class="span8">
      <p id="notice"><%= notice %></p>
      <h1>Sale: <%= @sale_order.id %></h1>
      
      <% if ! @sale_order.posted? %>
      <%= nested_form_for(SaleOrderLineItem.new, :remote=>true,:html=>{:class=>"form-horizontal"}) do |f| %>
      
      
      <%= my_autocomplete_field_tag f,
	  :item,:copy,
	  autocomplete_copies_path,
	  link_to_function(content_tag(:i,"",:class=>"icon-plus"),
      "window.open('#{new_title_path}?isbn='+$('#item').val())", 
      {:class=>'btn'}) %>
      
      <% end %>
      <% end %>

  </div>
    
    <div class="span2">
      quicklinks to last 3 sold books
    </div>

    <div class="span2">
      <% if ! @sale_order.posted? %>
      <%= mypostlinkbutton("<i class='icon-ok-sign'></i> Complete sale",post_sale_order_path(@sale_order)) %>
      <% else %>
      <b>Posted:</b> <%= @sale_order.posted_when %>
      <% end %>

      <table class="table">
	<tr>
	  <th>Subtotal</th>
	  <td id="sale_order_subtotal"><%= @sale_order.subtotal %></td>
	</tr>
	<tr>
	  <th>Discount</th>
	  <td><%= best_in_place_if (! @sale_order.posted?),@sale_order, :discount_percent, :type => :input %>%</td>
	</tr>
	<tr>
	  <th>Tax</th>
	  <td ><%= @sale_order.tax_amount %></td>
	</tr>
	<tr>
	  <th>Total</th>
	  <td id="sale_order_total"><%= @sale_order.total %></td>
	</tr>

	<th>Source</th>
	  <td><%= if @sale_order.from_pos? 
		  "POS"
		  elsif @sale_order.from_web?
		  "WEB"
		  end
		  %> 
	  </td>
	</tr>
	<tr>
	  <th>Customer</th>
	  <td><%= @sale_order.customer %></td>
	</tr>
      </table>
    </div>

</div>


