<%= nested_form_for(@event_staffer,:html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @event_staffer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_staffer.errors.count, "error") %> prohibited this event_staffer from being saved:</h2>

      <ul>
      <% @event_staffer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= mytextfield f,:name,:name %>
  <%= mytextfield f,:email,:email %>
  <%= mysubmit f,:save %>

<% end %>
