<h1>Listing event_staffers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_staffers.each do |event_staffer| %>
  <tr>
    <td><%= event_staffer.name %></td>
    <td><%= event_staffer.email %></td>
    <td><%= link_to 'Show', event_staffer %></td>
    <td><%= link_to 'Edit', edit_event_staffer_path(event_staffer) %></td>
    <td><%= link_to 'Destroy', event_staffer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event staffer', new_event_staffer_path %>
