<%= nested_form_for(@publisher,:html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @publisher.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@publisher.errors.count, "error") %> prohibited this publisher from being saved:</h2>
    <ul>
      <% @publisher.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <%= mytextfield f,:name,:name %>
  <%= mytextarea f,:description,:description %>
  <%= mytextarea f,:notes,:notes %>
  <%= mysubmit f,:save %>

<% end %>
