<% content_for :title do%>
    The Bookstore
<% end %>

<% content_for :description do%>Browse and search our titles, and find out how about placing special orders!<% end %>


<div class="container-fluid">
  <div class="row" >
    <h1 class="departmentname" style="position:absolute;top:120px;z-index:2;color:white;text-shadow:4px 4px 20px black;" >The Bookstore</h1>
    <% tl = TitleList.find(1) %>
    <div class="row">
      <%= make_an_image_grid_from_titles tl.titles.limit(6).order("RAND()") %>
    </div>
  </div>


  <div class="row spaceontop">
    <div class="col-xs-6 col-sm-6">
      <h2 class="featuredaction">Find a book:</h2>
      <%= nested_form_for @title_search_object || SearchObject.new,:method => :get,:html=>{:class=>"form-inline form-compact"},:url => {:action => :index,:controller => :titles } do |f| %>
      <div class="form-group">
	<%= f.text_field :searchquery, :placeholder=>"Title, Author, or ISBN",:class=>"form-control" %>
	<input class="btn btn-primary btn-medium" name="commit" type="submit" value="Search" >
	<% end %>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6">
      <div class="metafloat" >
	<ul class="postedin mediummenu">
	    <li><a href="/pages/books-frequently-asked-questions#specialorders">How do I order a book that's not listed as in stock?</a>
	    <li><a href="/pages/books-frequently-asked-questions#onlineorders">Can I buy books online from Red Emma's?</a>
	    <li><a href="/pages/books-frequently-asked-questions#courseorders">Will you sell books for my class?</a>
	    <li><a href="/pages/books-frequently-asked-questions#eventorders">Will you sell books at my event?</a>
	    <li><a href="/pages/books-frequently-asked-questions#bookevents">Can I do an event for my book at Red Emma's?</a>
	    <li><a href="/pages/books-frequently-asked-questions#hiring">Are you hiring?</a>
	  </ul>
      </div>
    </div>
  </div>
  <hr />
  
  <div class="row" >
    <h2 class="related" style="clear:both;">Featured lists</h2>
    <% Category.find_by_name("main").title_lists.order("position ASC").each do |tl| %>
    <h3 class="relatedsubhead"><%= link_to tl.name,tl %></h3>
    <div class="introduction"><%= sanitize tl.description %></div>
    <div class="row">
      <%= make_a_grid_from_titles usefully_sorted(tl.titles).first(5) %>
      <div class="col-xs-6 col-sm-4 col-md-2 gridmore">
	<%= link_to "More titles on this list »",tl %>
      </div>
    </div>
    <% end %>
  </div>
  
  <div class="row spaceontop">
    <div class="col-sm-12">
      <h1 class="headername">The Books Blog</h1>
    </div>
  </div>
  
  <div class="row">
    <% PostCategory.find_by_name("Books").posts.where(:published=>true).order("created_at DESC").limit(11).each_with_index do |post,i| %>
    <div class="col-sm-6 col-lg-4">
      <a href="<%= post_path(post) %>" class="gridcover" style="height:300px;display:block;background-color:#ddd;background-image:url('<%= post.images.first.the_image_url rescue "" %>');background-size:cover;"> 
      </a>  
      <div class="row">
	<div class="col-sm-8">
	  <h2 class="posttitle"><%= link_to post.title,post %></h2>
	</div>
	<div class="col-sm-4">
	  <div class="metafloat">
	    <h3 class="postdate"><%= post.created_at.to_formatted_s(:long_date) %></h3>
	    <div class="postedin"><%= post.post_categories.collect{|cat|  link_to cat.name,cat}.join(" ★ ").html_safe %></div> 
	  </div>
	</div>
      </div>
    </div>
    
    <% if i % 3 == 2 %>
    <div class="clearfix visible-lg" ></div>
    <% end %>
    <% if i % 2 == 1 %>
    <div class="clearfix visible-sm visible-md" ></div>
    <% end %>
    <% end %>
    <div class="col-sm-6 col-lg-4 gridmore" style="height:300px;">
      <%= link_to "More posts about radical books »",  PostCategory.find_by_name("Books")%>
    </div>

  </div>
</div>
  <div class="row spaceontop">
    <div class="col-xs-12">
      <h2 class="related">Browse our Sections</h2>
    </div>
    <% Category.all.each_with_index do |c,i| %>
    
    <div class="col-xs-6 col-lg-4" style="padding:0px;">
      <a href="<%= category_path(c) %>" class="gridcover" style="height:300px;display:block;background-color:#ddd;background-image:url('<%= c.image_url(:reasonable) rescue "" %>');background-size:cover;"> 
    </a>
      <h3 class="relatedsubhead" style="margin-left:16px;" ><%= link_to c.name,c %></h3>
    </div>
    <% if i % 3 == 2 %>
    <div class="clearfix visible-lg" ></div>
    <% end %>
    <% if i % 2 == 1 %>
    <div class="clearfix visible-sm visible-md" ></div>
    <% end %>

    <% end %>  
  </div>

</div>
