</div>
<div class="row">
<div class="span8">
  <h1  style="font-size:50px;margin-bottom:10px;margin-top:0px !important;"><span class="span2"></span>The Red Emma's Cafe</h1>
  <p class="small">
    Welcome to the cafe at Red Emma's Bookstore Coffeehouse, a worker-owned and operated vegetarian and vegan restaurant in the heart of Baltimore's North Avenue arts district. We specialize in high-quality, low-cost food that's socially responsible—from transparently-traded coffee, to organic dairy, locally-crafted bread, and beyond. We pride ourselves on offering one of Baltimore's best selections of vegan and vegetarian fare ... check out our menu for a sample of what we offer, and stop in any day to see what's on special! And be sure to sample our wide range of delectable vegan baked goods—all produced in house by our coop kitchen crew—and grab a cup of Thread Coffee, transparently-traded and roasted onsite by our collective.</p>
  <p class="small">
With seating for 75 (and a private meeting room available for rent, plus a small area just for kids), there's always room for families and other large groups, or come by yourself for some quiet reading time. There's free wifi available througout the cafe, and plenty of reading material to excite and engage in our bookstore—plus a full program of readings and lectures throughout the week. Email us for more information, or come on by any Tuesday - Sunday ...
  </p>
  
</div>

<div class="span4">
<h3>Things you might want to do:</h3>
  <ul class="bookfaq"> 
    <li><a href="/pages/menu">Check out our menu</a>
    <li><%= link_to "Find out about seasonal specials",PostCategory.find_by_name("Cafe") %>
    <li><a href="/pages/catering">Talk to us about catering</a>
    <li><a href="/pages/meetings">Book our meeting room</a>
     </ul>
</div>
</div>
<hr>
<div class="row" >
  <div class="span6">
  <%= @instagram.html_safe %>
  </div>
<div class="span6 blogcolumn">
  <h2>Cafe Blog</h2>

  <% PostCategory.find_by_name("Cafe").posts.where(:published=>true).order("created_at DESC").limit(5).each do |post| %>
  <h3 class="postdate"><%= post.created_at.to_formatted_s(:long_date) %></h3>
    <h2 class="posttitle"><%= link_to post.title,post %></h2>

  <% post.images.limit(1).each do |i| %>
  <div class="item">
    <%= image_tag i.the_image_url(:reasonable),{:class=>'blogbarimage'} %>
  </div>  
  <% end %>
  <div class="introduction">
    <%= raw post.introduction %>
  </div>
  <%= link_to "Read more...",post %>
  <hr style="clear:both;">
  <% end %>


</div>



</div>



