<% content_for :title do%>
Home    
<% end %>

<% content_for :description do%>Worker cooperative vegan/vegetarian restaurant and radical bookstore in Baltimore.<% end %>


<div class="emergencyalert container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render 'layouts/emergency' %>
         
  </div>
</div>



<!-- Fixed navbar -->
        <div id="navbar2" class="">
          <ul >
	    <% if @is_2640_page %>
            <li id="middlelogobig2" ><a href="/2640" style="padding-top:0px;padding-bottom:0px"><%= image_tag "redemmas/2640.png",:width=>'50px',:style=>'-webkit-filter:invert(100%);filter:invert(100%);float:left;margin-right:10px;position:relative;top:0px;'%></a></li>
<% else %>
            <!--<li class="  hidden-xs"><a href="/pages/food">Food</a></li>-->
	    <li class="  hidden-xs"><a href="https://www.toasttab.com/red-emma-s/v2/online-order#!/order">Food</a></li>
            <li  class="  hidden-xs"><a href="/books">Books</a></li>
	    <li class="  hidden-xs"><a href="/pages/catering">Catering</a></li>         
            <li class="  hidden-xs" id="middlelogobig2" ><a href="/" style="padding-top:0px;padding-bottom:0px"><%= image_tag "redemmas/emmas.png",:width=>'50px'%></a></li>
	    <li  class="  hidden-xs"><a href="/events">Events</a></li>         
	    <li  class="  hidden-xs"><a href="/about">About</a></li>
	    <li class="  hidden-xs"><a href="https://www.toasttab.com/red-emma-s/v2/online-order#!/order">Order online</a></li>

<% end %>
          </ul>
        </div><!--/.nav-collapse -->


    <nav class="navbar navbar-fixed-top ">
      <div class="container-fluid " >
        <div class="navbar-header">
          <span id="middlelogosmall" style=""><a href="/" style=""><%= image_tag "redemmas/emmas.png",:width=>'50px' %></a></span>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  
          
        </div>



        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    <% if @is_2640_page %>
            <li id="middlelogobig" ><a href="/2640" style="padding-top:0px;padding-bottom:0px"><%= image_tag "redemmas/2640.png",:width=>'50px',:style=>'-webkit-filter:invert(100%);filter:invert(100%);float:left;margin-right:10px;position:relative;top:0px;'%></a></li>
<% else %>
            <!--<li class="visible-xs-block"><a href="/pages/food">Food</a></li>-->
	    <li class="visible-xs-block"><a href="https://www.toasttab.com/red-emma-s/v2/online-order#!/order">Food</a></li>
	    <li class="visible-xs-block"><a href="https://www.toasttab.com/red-emma-s/v2/online-order#!/order">Order online</a></li>
            <li class="visible-xs-block"><a href="/books">Books</a></li>
            <li class="visible-xs-block"><a href="/coffee">Coffee</a></li>
	    <li class="visible-xs-block"><a href="/pages/catering">Catering</a></li>         
	    <li class="visible-xs-block"><a href="/events">Events</a></li>         
	    <li ><a href="/about">About</a></li>
            <li ><a href="/blog">News</a></li>
	    <li><a href="/pages/contact">Contact</a></li>
<% end %>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>



<div class="container-fluid frontsplash" id="holder">
 <div class="row" id="front_0"><div class="col-sm-offset-2 col-sm-8"><div class="translucent">Red Emma's</div></div></div>
<!--  <div class="row" id="front_1"><div class="col-xs-8 col-xs-offset-2 col-sm-8"><div class="translucent"><span class="red">★</span> Red Emma's <span class="red">★</span></div></div></div>-->
 <div class="row" id="front_1"><div class="col-xs-8 col-xs-offset-2 col-sm-8"><div class="translucent">✪ Red Emma's ✪</div></div></div>

  <div class="row" id="frontlinks">
      <div class="col-md-2 col-sm-6 col-md-offset-3 col-xs-offset-3 col-xs-6">
	<div class="translucent">	 
	  <div><a href="https://www.toasttab.com/red-emma-s/v2/online-order#!/order">Food</a></div>
	  <a href="https://www.toasttab.com/red-emma-s/v2/online-order#!/order"><%= image_tag "redemmas/004-food.svg" %></a> 
	</div>
      </div>
<!--      <div class="col-md-2 col-sm-6  col-xs-offset-3 col-xs-6 col-md-offset-0">
	<div class="translucent">
	  <div><a href="/drinks">Drinks</a></div>
	  <a href="/drinks"><%= image_tag "redemmas/drinks.svg" %></a> 
	</div>
      </div>
-->
      <div class="col-md-2 col-sm-6  col-xs-offset-3 col-xs-6 col-md-offset-0">
	<div class="translucent">
	  <div><a href="/books">Books</a></div>
	  <a href="/books"><%= image_tag "redemmas/001-book-hand-drawn-open-pages.svg" %></a> 
	</div>
      </div>
      <div class="col-md-2 col-sm-6  col-xs-offset-3 col-xs-6 col-md-offset-0">
	<div class="translucent">
	  <div><a href="/events">Events</a></div>
	  <a href="/events"><%= image_tag "redemmas/006-sound.svg" %></a> 
	</div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8 col-xs-8 col-xs-offset-2" id="fronttag">
      	<div class="translucent">Worker-owned and operated since 2004.</div>
    </div>
  </div>
</div>

<footer class="footer">
	<%= render :partial => "themes/#{theme}/footer" %>      
</footer>




    
    
    

  


