<% content_for :title do%>
Home    
<% end %>

<% content_for :description do%>Worker cooperative radical bookstore, vegan/vegetarian restaurant, and coffee roaster in Baltimore.<% end %>

<script src="https://use.typekit.net/xur2acd.js"></script>

<script type="text/javascript">try{Typekit.load();}catch(e){}</script>




<!-- Fixed navbar -->
        <div id="navbar2" class="">
          <ul >
	    <% if @is_2640_page %>
            <li id="middlelogobig2" ><a href="/2640" style="padding-top:0px;padding-bottom:0px"><%= image_tag "redemmas/2640.png",:width=>'50px',:style=>'-webkit-filter:invert(100%);filter:invert(100%);float:left;margin-right:10px;position:relative;top:0px;'%></a></li>
<% else %>
            <li class="  hidden-xs"><a href="/food">Food</a></li>
            <li  class="  hidden-xs"><a href="/books">Books</a></li>
            <li  class="  hidden-xs"><a href="/coffee">Coffee</a></li>
	    <li class="  hidden-xs"><a href="/pages/catering">Catering</a></li>         
            <li class="  hidden-xs" id="middlelogobig2" ><a href="/" style="padding-top:0px;padding-bottom:0px"><%= image_tag "redemmas/emmas.png",:width=>'50px'%></a></li>
	    <li  class="  hidden-xs"><a href="/events">Events</a></li>         
	    <li  class="  hidden-xs"><a href="/about">About</a></li>
	    <li class="  hidden-xs"><a href="TK">ORDER ONLINE</a></li>
<% end %>
          </ul>
        </div><!--/.nav-collapse -->


    <nav class="navbar navbar-fixed-top ">
      <div class="container-fluid " >
        <div class="navbar-header">
          <span id="middlelogosmall" style=""><a href="/" style=""><%= image_tag "redemmas/emmas.png",:width=>'50px' %></a></span>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  
          
        </div>



        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    <% if @is_2640_page %>
            <li id="middlelogobig" ><a href="/2640" style="padding-top:0px;padding-bottom:0px"><%= image_tag "redemmas/2640.png",:width=>'50px',:style=>'-webkit-filter:invert(100%);filter:invert(100%);float:left;margin-right:10px;position:relative;top:0px;'%></a></li>
<% else %>
            <li class="visible-xs-block"><a href="/food">Food</a></li>
	    <li class="visible-xs-block"><a href="TK">ORDER ONLINE</a></li>
            <li class="visible-xs-block"><a href="/books">Books</a></li>
            <li class="visible-xs-block"><a href="/coffee">Coffee</a></li>
	    <li class="visible-xs-block"><a href="/pages/catering">Catering</a></li>         
	    <li class="visible-xs-block"><a href="/events">Events</a></li>         
	    <li ><a href="/about">About</a></li>
            <li ><a href="/blog">News</a></li>
	    <li><a href="/pages/contact">Contact</a></li>
<% end %>
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>



<div class="container-fluid" id="holder">
  <%= @instagram.html_safe %>
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
	<p id="front_1" class="adobegaramondpro">Welcome to Red Emma's.</p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div id="front_2" class="adobegaramondpro"><p>We're a radical <a href="/books">bookstore</a> and a vegetarian <a href="/food">restaurant</a> and a <a href="/thread">coffee</a> roaster and a space for public <a href="/events">events</a>.</p></div>


<div class="adobegaramondpro front_moreaboutus">
	<p>
	  Red Emma's is a worker cooperative and family of projects dedicated to autonomy, sustainability, participatory democracy, and solidarity. Since 2004, our space has been a grassroots answer to the collapse of civic infrastructure, a radical gathering place and experiment in self-organized education, all made possible by a horizontally organized collective of folks who own the underlying business cooperatively.  We also serve some amazing ethically sourced food and a fine cup of transparently traded coffee.</p>
</div>
      </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
	<div id="newsletter_form">
	  <h2>Get our newsletter</h2>
	  <!-- Begin MailChimp Signup Form -->
	  <div id="mc_embed_signup">
	    <form action="//redemmas.us6.list-manage.com/subscribe/post?u=ba8275d3da8a8eeb9ab92d64f&amp;id=723faff526" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	      <div id="mc_embed_signup_scroll">
		<div class="mc-field-group">
		  <input type="email" value=""  name="EMAIL" class="required email form-control" placeholder="Your email address" id="mce-EMAIL" >      <input type="submit" value="Submit" style="display:none">
		  
		</div>
		<div id="mce-responses" class="clear">
		  <div class="response" id="mce-error-response" style="display:none"></div>
		  <div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		<div style="position: absolute; left: -5000px;"><input type="text" name="b_ba8275d3da8a8eeb9ab92d64f_723faff526" tabindex="-1" value=""></div>
	      </div>
	    </form>
	  </div>
	  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
	  <!--End mc_embed_signup-->  
	</div>
      </div>
      <div class="col-sm-6" id="contact">
	<div id="contact_info">
	  <h2>Get in touch</h2>
	  <table>
	    <tr><td><i class="fa fa-phone"></i> Books & General Info</td><td><a href="tel:+14436027585">(443) 602-7585</td></tr>
	    <tr><td><i class="fa fa-phone"></i> Cafe</td><td><a href="tel:+14436027611">(443) 602-7611</a></td></tr>
	    <tr><td><i class="fa fa-envelope"></i> General Info</td><td><a href="mailto:info@redemmas.org">info@redemmas.org</a></td></tr>
	  </table>
	</div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
	<h2>Follow us</h2>
	<div class="row">
	  <div class="footersocial col-xs-8 col-xs-offset-2 col-sm-10 col-sm-offset-1">
	    <a href="http://twitter.com/redemmas"><i class="fa fa-twitter"></i></a>
	    <a href="http://facebook.com/redemmas"><i class="fa fa-facebook"></i></a>
	    <a href="http://instagram.com/redemmas"><i class="fa fa-instagram"></i></a>
	    <a href="http://youtube.com/redemmas"><i class="fa fa-youtube"></i></a>
	  </div>
	</div>
      </div>
      
      <div class="col-sm-6" id="location">
	<h2>Location & hours</h2>
	<table>
	  <tr><td><a href="https://maps.google.com/maps?ll=39.311717,-76.66735&z=12&t=m&hl=en-US&gl=US&mapclient=embed&cid=687401820438842131">30 W. North Ave.</a></td><td>Baltimore, MD</td></tr><tr><td> </td><td> </td></tr>
	  <tr><td>Tuesday-Thursday</td><td>8:30AM-10PM</td></tr>
	  <tr><td>Friday & Saturday</td><td>8:30AM-11PM</td></tr>
	  <tr><td>Sunday</td><td>8:30AM-10PM</td></tr>
	  <tr><td>Mondays</td><td>Closed</td></tr>
	</table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6" id="footerprojects">
	<h2>Our projects</h2>
	<div class="row">
	  <div class="col-xs-3 col-xs-offset-2 col-sm-3 col-sm-offset-2 ">
	    <a href="http://redemmas.org/2640"><%= image_tag "redemmas/2640.png" %></a> 
	  </div>
	  <div class="col-sm-5 col-xs-5 ">
	    <a href="http://threadcoffee.com"><%= image_tag "redemmas/thread_logotext_2015.png" %></a> 
	  </div>
	  <div class="col-xs-8 col-xs-offset-2 col-sm-offset-2 col-sm-8 ">
	    <a href="http://freeschool.redemmas.org/"><%= image_tag "redemmas/bfs-logo.png" %></a>
	  </div>
	</div>
      </div>
      <div class="col-sm-6" id="footernetworks">
	<h2>Our networks</h2>
	<div class="row">
	  <div class="col-xs-3 col-xs-offset-3 ">
	    <a href="http://www.iww.org"><%= image_tag "redemmas/iww.png" %></a>
	  </div>
	  <div class="col-xs-3 ">
	    <a href="http://usworker.coop"><%= image_tag "redemmas/usfcw.png" %></a>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-6 col-xs-offset-3 col-sm-6  col-sm-offset-3 ">
	    <a href="http://theworkingworld.org"><%= image_tag "redemmas/TWW.png" %></a>
	    <a href="http://ncdf.coop"><%= image_tag "redemmas/ncdf.png" %></a>
	  </div>
	</div>
      </div>
    </div>
  </div>
  
  <br />
  <div class="row">
    <div class="col-xs-12">
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3086.982569948913!2d-76.61778269999999!3d39.3113186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c804ea7de1339b%3A0x98a24504d36cb13!2sRed+Emma&#39;s+Bookstore+Coffeehouse!5e0!3m2!1sen!2sus!4v1441886696389" width="100%" height="250" frameborder="0" style="border:0;opacity:0.9;position:relative;top:10px;" allowfullscreen></iframe>
    </div>
  </div>
</footer>




    
    
    

  


