<% content_for :title do%>
The Greenmount Coffee Lab
<% end %>

<% content_for :description do%>A Red Emma's cooperative serving up transparently traded Thread Coffee and light fare inside Open Works<% end %>

<% content_for :og do%>
<meta property="og:image" content="https://redemmas.org/uploads/image/the_image/143/gcl-crop-web.jpg">
<% end %>



<div class="row">
  <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel" data-interval="0" style="overflow:hidden;box-shadow: rgba(0, 0, 0, 0.341176) 0px 2px 5px 0px;">
    <div class="carousel-inner" role="listbox">

      <div class="item active">
	<img src="https://redemmas.org/uploads/image/the_image/143/gcl-crop-web.jpg" width="100%" alt="...">
      </div>


      <h1 class="departmentname" style="position:absolute;bottom:40px;left:20px;color:white;text-shadow:2px 2px 20px black;">Greenmount Coffee Lab</h1>

    </div>
  </div>
</div>

<div class="container">
  <div class="row spaceontop">
    <div class="col-sm-8">
      <h1 class="departmentname">Your source for fine coffee and light fare inside Open Works</h1>
      <div class="introduction">
	<p >
The latest worker cooperative in the Red Emma's family of projects, the Greenmount Coffee Lab is open from 7:30AM-6PM, Monday through Friday, and is conveniently located inside the Open Works maker space at 1400 Greenmount Ave. 
          
	<p>Follow the Greenmount Coffee Lab on: <a href="https://www.facebook.com/GreenmountCoffeeLab/">Facebook</a> * <a href="https://www.instagram.com/greenmountcoffeelab/">Instagram</a></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="metafloat">
	<ul class="postedin bigmenu"> 
	  <li><a href="https://drive.google.com/file/d/0B4_0cRDiifkSVzhSOURZcXgxMjA/view">Check out our menu</a>
	</ul>
      </div>
    </div>
  </div>
  <div class="row-fluid" >
    <%= @instagram.html_safe %>
  </div>

  <div class="row spaceontop" >
    <div class="col-sm-12">
      <hr />
      <h1 class="headername">Updates from the Greenmount Coffee Lab</h1>
    </div>
  </div>


  <div class="row">
    <% PostCategory.find_by_name("GCL").posts.where(:published=>true).order("created_at DESC").limit(11).each_with_index do |post,i| %>
    <div class="col-sm-6 col-lg-4">
      <a href="<%= post_path(post) %>" class="gridcover" style="height:300px;display:block;background-color:#ddd;background-image:url('<%= post.images.first.the_image_url rescue "" %>');background-size:cover;"> 
      </a>  
      <div class="row">
	<div class="col-sm-8">
	  <h2 class="posttitle"><%= link_to post.title,post %></h2>
	</div>
	<div class="col-sm-4">
	  <div class="metafloat">
	    <h3 class="postdate"><%= post.created_at.to_formatted_s(:long_date) %></h3>
	    <div class="postedin"><%= post.post_categories.collect{|cat|  link_to cat.name,cat}.join(" ★ ").html_safe %></div> 
	  </div>
	</div>
      </div>
    </div>
    
    <% if i % 3 == 2 %>
    <div class="clearfix visible-lg" ></div>
    <% end %>
    <% if i % 2 == 1 %>
    <div class="clearfix visible-sm visible-md" ></div>
    <% end %>
    <% end %>

    <div class="col-sm-6 col-lg-4 gridmore" style="height:300px;">
      <%= link_to "More posts »",  PostCategory.find_by_name("GCL")%>
    </div>
    
  </div>
  </div>


