<% content_for :title do%>
    Thread Coffee
<% end %>

<% content_for :description do%>Transparently traded, freshly roasted.<% end %>


</div>
<div class="row">
<div class="span8">
  <h1 style="font-size:50px;margin-bottom:10px;margin-top:0px !important;"><span class="span2"></span>Thread Coffee</h1>
  <p>
<i>Thread Coffee is a collectively-owned and operated small-batch coffee roaster committed to a transparent model of trade that promotes dignity, sustainability, and solidarity. Through hand-crafted, quality coffee we sew together organizational models based on participatory democracy and self- management.</i>
  </p>
  <p>Thread Coffee works to create relationships directly with farmers, ensuring that producers receive a just price for their beans, and that their coffee is grown in a way that’s good for both the environment and the culture. Thread is a part of the Red Emma’s family of projects, and is roasting onsite at the new Red Emma’s Bookstore Coffeehouse at 30 W. North Avenue.</p>
   
</div>

<div class="span4">
<h3>Things you might want to do:</h3>
  <ul class="bookfaq"> 
    <li><a href="/pages/transparent-trade">Learn more about our principles and transparent trade</a>
    <li><%= link_to "Read our blog",PostCategory.find_by_name("Thread") %>
    <li><a href="/pages/where-to-buy">Find out where you can enjoy our coffee or purchase a bag</a>
    <li><a href="/pages/thread-wholesale">Talk to us about wholesale</a>
    <li><a href="/pages/community-supported-coffee">Join our Community Supported Coffee program</a>
    <li><a href="/pages/contact-thread-coffee">Contact the Thread team</li>
  </ul>
</div>
</div>
<hr>
<div class="row" >
  <div class="span6">
    <h2>Our coffees</h2>
    <% @coffees.each do |c| %>
    <%= render :partial=>'titles/gridtitle', :locals => {:title=>c.title,:text=>""} %>
    <% end %>
  </div>
<div class="span6 blogcolumn">
  <h2>Thread Blog</h2>

  <% PostCategory.find_by_name("Thread").posts.where(:published=>true).order("created_at DESC").limit(5).each do |post| %>
  <h3 class="postdate"><%= post.created_at.to_formatted_s(:long_date) %></h3>
    <h2 class="posttitle"><%= link_to post.title,post %></h2>

  <% post.images.limit(1).each do |i| %>
  <div class="item">
    <%= image_tag i.the_image_url(:reasonable),{:class=>'blogbarimage'} %>
  </div>  
  <% end %>
  <div class="introduction">
    <%= raw post.introduction %>
  </div>
  <%= link_to "Read more...",post %>
  <hr style="clear:both;">
  <% end %>


</div>



</div>



