<%= nested_form_for(@event, :html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= mytextfield f,:event_title,:title, {:class=>"input-xxlarge"} %>
  <%= mytextarea f,:event_short_description,:introduction %>
  <%= mytextarea f,:event_description,:description %>
  <%= myselectfield f,:event_location,:event_location,autocomplete_event_location_title_events_path, new_event_location_path() %> 
  
  <%= mydatetimefield f,:event_starts_at,:event_start %>
  <%= mydatetimefield f,:event_ends_at,:event_end %>

  <div class="well">
  <div class="field control-group">
    <%= f.label :picture,:class=>"control-label" %>
    <div class="controls">
      <%= f.file_field :picture %>
      <%= image_tag f.object.picture_url, {:width=>"30%"} if f.object.picture? %> 
    </div>
  </div>
  <%= mytextfield f,:remote_picture_url,:remote_picture_url %>
  </div>

    <div class="field control-group">
      <%= f.label :books_related_to_this_eventt, :class=>"control-label" %><br />
      <div class="controls">
	<%= f.fields_for :event_title_links do |member_form| %>
	<%= myselectfield member_form,:title,:title,autocomplete_title_title_title_lists_path %>
	<% end %>
	<div class="verticaloffset">
	  <%= f.link_to_add raw("<i class='fa fa-plus-circle'></i> Add a book"), :event_title_links, {:class=>:btn} %>
	</div>
      </div>
    </div>

  <%= mytextfield f,:withfriends_url,:withfriends_url, {:class=>"input-xxlarge"} %>  
  <%= mytextfield f,:facebook_url,:facebook_url, {:class=>"input-xxlarge"} %>


  <%= mycheckbox f,:published,:published %>

  <%= mycheckbox f,:show_on_red_emmas_page,:show_on_red_emmas_page %>
  <%= mycheckbox f,:show_on_2640_page,:show_on_2640_page %>
  

  <div class="controls">
    <a href="#" onClick="$('#internal_details').collapse('toggle');return false;">
      <button type="button" class="btn btn-info">
	Internal Event Details <span class="caret"></span>
      </button>
    </a>
    </div>
  <br />
    <div class="collapse" id="internal_details">
      <div class="well">
	<%= mytextfield f,:rental_payment_info,:rental_payment_info, {:class=>"input-xxlarge"} %>
	<%= mytextarea f,:internal_notes,:internal_notes %>
	<%= mydatetimefield f,:event_setup_starts_at,:event_setup_starts %>
	<%= mydatetimefield f,:event_breakdown_ends_at,:event_breakdown_ends %>
	<div class="field control-group">
	  <%= f.label :Shifts, :class=>"control-label" %><br />
	  <div class="controls">
	    <%= f.fields_for :event_shifts do |shift_form| %>
	    <div class="well">
	      <%= shift_form.link_to_remove raw("<i class='fa fa-minus-circle'></i> Remove this shift"), :class=>"btn",:style=>"float:right;" %>	    
	      <%= myselectfield shift_form,:event_staffer,:staffer,autocomplete_event_staffer_name_event_staffers_path,new_event_staffer_path() %>
	      <%= mytextfield shift_form,:what,:notes, {:class=>"input-xxlarge"} %>
	    </div>
	    <% end %>
	    <div class="verticaloffset">
	      <%= f.link_to_add raw("<i class='fa fa-plus-circle'></i> Add a shift"), :event_shifts, {:class=>:btn} %>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  <%= mysubmit f,:save %>

<% end %>
