<% content_for :title do%>
Events
<% end %>

<% content_for :description do%>Our upcoming events at the store.<% end %>


<div class="span6">
  <h1 style="font-size:50px;margin-bottom:50px;">Events at Red Emma's</h1>
</div>

<div class="span4">
  <h3>Your questions, answered:</h3>
  <ul class="bookfaq">
    <li><a href="/pages/propose-an-event">How do I propose an event to Red Emma's?</a></li>
    <li><a href="/pages/events-faq#where">Where do your events take place?</a></li>
    <li><a href="/pages/events-faq#music">Do you host musical events?</a></li>
    <li><a href="/pages/events-faq#cost">How much do your events cost?</a></li>
  </ul>
</div>

</div>
<hr>
<div class="row" >
  <div class="span8">
    <h1>
      <% if @upcoming %>
      Upcoming events in <%= Date::MONTHNAMES[@month] %> <%= @year %>
      <% else %>
      Events for <%= Date::MONTHNAMES[@month] %> <%= @year %>
      <% end %>
    </h1>
    <h5><%= link_to "« #{Date::MONTHNAMES[previous_month(@month,@year)]}", :month=>previous_month(@month,@year),:year=>previous_year(@month,@year) %> | <%= link_to "#{Date::MONTHNAMES[next_month(@month,@year)]} »", :month=>next_month(@month,@year),:year=>next_year(@month,@year) %></h5>
    <% @events.each do |event| %>
    <%= render event %>
    <hr style="clear:right;">
    <% end %>
  </div>
  <div class="span4 blogcolumn">
  <h2>Events Blog</h2>

  <% PostCategory.find_by_name("Events").posts.where(:published=>true).order("created_at DESC").limit(5).each do |post| %>
  <h3 class="postdate"><%= post.created_at.to_formatted_s(:long_date) %></h3>
    <h2 class="posttitle"><%= link_to post.title,post %></h2>

  <% post.images.limit(1).each do |i| %>
  <div class="item">
    <%= image_tag i.the_image_url(:reasonable),{:class=>'blogbarimage'} %>
  </div>  
  <% end %>
  <div class="introduction">
    <%= raw post.introduction %>
  </div>
  <%= link_to "Read more...",post %>
  <hr style="clear:both;">
  <% end %>


</div>



</div>


