<% content_for :title do%>
    Event: <%= @event.title %>
<% end %>

<% content_for :og do%>
<%= tag "og:title",:content=>@event.title %>
<%= tag "og:type",:content=>"website" %>
<% if !@event.picture.nil? %>
<meta property="og:image" content="https://redemmas.org/<%= @event.picture_url %>">
<% end %>

<%= tag "og:url",:content=>"https://redemmas.org/events/#{@event.id}" %>

<% end %>


<% content_for :description do%><%=h truncate(sanitize(@event.introduction, :tags=>[]),:length => 250) %><% end %>


<div class="span7">
<h1><%= @event.title %>
  <div style="float:right;"><small><%= "Not published" unless @event.published? %></small><%=  link_to raw("<i class='icon-edit'></i>"), edit_event_path(@event)   if can? :edit, Event %> 
</h1>
<h4><%= @event.event_start.to_formatted_s(:long_readable_date) %>, <%= @event.event_start.to_formatted_s(:just_time) %> @ <%= link_to @event.event_location,@event.event_location %></h4>
<%= @event.introduction.html_safe %>
<%= @event.description.html_safe %>

<%= theme_partial :social %>
<br />
<% if !@event.facebook_url.blank? %> <div class="well" ><%= link_to "Let us know you are coming on Facebook",@event.facebook_url %> (optional, but helpful!)</div> <% end %>
<% if can? :edit, Event %>
<br />
<div class="well">
<h2>Internal Details</h2>

<b>Setup begins:</b> <%= @event.event_setup_starts.to_formatted_s(:long_readable_date) rescue "" %>, <%= @event.event_setup_starts.to_formatted_s(:just_time) rescue "" %><br />
<b>Event starts:</b> <%= @event.event_start.to_formatted_s(:long_readable_date) %>, <%= @event.event_start.to_formatted_s(:just_time) %><br />
<b>Event ends:</b> <%= @event.event_end.to_formatted_s(:long_readable_date) %>, <%= @event.event_end.to_formatted_s(:just_time) %><br />
<b>Breakdown ends:</b> <%= @event.event_breakdown_ends.to_formatted_s(:long_readable_date) rescue ""%>, <%= @event.event_breakdown_ends.to_formatted_s(:just_time) rescue "" %><br /> 
<br /> 
<b>Rental payment info:</b> <%= @event.rental_payment_info %>

<hr />
<%= @event.internal_notes.html_safe rescue "" %>

<h3>Shifts</h3>
<table class="table">
<% @event.event_shifts.each do |s| %>
<tr>
  <td><%= mail_to s.event_staffer.email,s.event_staffer.name %></td>
  <td><%= s.notes %></td>
</tr>
<% end %>
</table>


</div>
<% end %>

</div>

<div class="span3">
<% if !@event.picture.nil? %>
<img src="<%= @event.picture_url %>">
<% end %>
</div>
