<h1>Listing customers</h1>
<div class="row">
<div class="span8">
<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= link_to customer.name, customer %></td>
    <td><%= customer.email %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.notes %></td>
    <td><%= mylinkbutton 'Edit', edit_customer_path(customer), {},"btn-small" %></td>
  </tr>
<% end %>
</table>
</div>
<div class="span4">
<%= mylinkbutton 'New Customer', new_customer_path %>
</div>
</div>
