<%= nested_form_for(@page,:html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= mytextfield f,"Page title",:title,{:class=>"input-xxlarge"} %>
  <%= mytextfield f,"Page slug",:slug,{:class=>"input-xxlarge",:placeholder=>"Will be generated automatically"} %>
  
  <%= mytextarea f,"Introductory text",:introduction %>
  <%= mytextarea f,"Body text",:body %>
  
  <%= myselectfield f,:parent,"Parent page (optional)",autocomplete_parent_title_pages_path %>

  <div class="field control-group">
    <%= f.label :layout,"Page Layout", :class=>"control-label" %>
    <div class="controls">
      <%= f.select :layout, layouts,{},{:class=>"input-medium"} %>
    </div>
  </div>

  <%= mycheckbox f,"Is a hero page?",:is_hero %>
  <%= mycheckbox f,"Is an image grid page?",:is_image_grid %>

  <div class="field control-group">
    <%= f.label :images,"Images", :class=>"control-label" %><br />
    <div class="controls well">
      <%= f.fields_for :images do |image_form| %>

      <div class="grouping">
	<div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span10">
	      <div class="field control-group">
		<%= mytextfield image_form,"Image title",:title %>
		<%= mytextfield image_form,"Link image to",:link %>
		<%= mytextarea image_form,"Image text",:description %>
		<%= image_form.label :the_image,"Image file",:class=>"control-label" %>
		<div class="controls">
		  <%= image_form.file_field :the_image %>
		</div>
	      </div>
	      
	      <%= mytextfield image_form,"Or specify a remote url",:remote_the_image_url %>
	      <div class="field control-group">
		<div class="controls">
		  <%= image_form.link_to_remove raw("<i class='fa fa-minus-circle'></i> Remove this image"), :class=>"btn" %>
		</div>
	      </div>

	    </div>
	    
	    <div class="span2">
	      <%= image_tag(image_form.object.the_image_url(:thumb),:class=>"formthumb") unless image_form.object.the_image.blank? %>
	    </div>
	  </div>
	</div>
      </div>
	<% end %>
      <div class="verticaloffset">
	<%= f.link_to_add raw("<i class='fa fa-plus-circle'></i> Add another image"), :images, {:class=>:btn} %>
      </div>
      

  </div>  
    <%= mycheckbox f,"Published?",:published %>
  <%= mysubmit f, "Save" %>
  </div>

<% end %>
