<% content_for :precontent do %>

<div id="heroCarousel" class="carousel slide">  
  <!-- Carousel items -->  
  <div class="carousel-inner">  
    <% @page.images.each_with_index do |i,c| %>
    <div class="item <%= 'active' if c==0 %>">
      <%= image_tag i.the_image_url(:reasonable) %>
      <div class="caption">
	<h1 class="heroheader"><%= i.title %></h1>
	<div class="herodescription">
	  <%= sanitize i.description %>
	</div>
      </div>
    </div>  
    <% end %>
  </div>  
  <!-- Carousel nav -->  
  <a class="carousel-control left" href="#heroCarousel" data-slide="prev">‹</a>  
  <a class="carousel-control right" href="#heroCarousel" data-slide="next">›</a>  
</div> 
<% end %>





<div class="container">
  

  <div class="row">

    <div class="span8">
      <h1 id="pagetitle">
	<%= @page.title %>	
	<div style="float:right;"><small><%= "Not published" unless @page.published? %></small><%=  link_to raw("<i class='icon-edit'></i>"), edit_page_path(@page)   if can? :edit, Page %> </div>
      </h1>
      <div class="introduction">
	<%= raw @page.introduction %>
      </div>
      
      <div class="body">
	<%= raw @page.body %>
      </div>
    </div>
      <div class="span2">

	<div id="pagenav">
	  <%= render :partial=>"pagenav",:locals=>{:page=>@page.ancestor,:indent=>0,:current=>@page} %>
	</div>

      </div>

    </div>
  </div>
      


