<h1>Listing pages</h1>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Slug</th>
    <th>Parent</th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= link_to page.title,page %></td>
    <td><%= page.slug %></td>
    <td><%= link_to page.parent.title,page.parent if page.parent %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= mylinkbutton "<i class='icon-plus'></i> New Page", new_page_path %>
