<% content_for :title do%>
    <%= @page.title %>
<% end %>

<% content_for :og do%>
<% if ! @page.images.first.nil? %>
<meta property="og:image" content="https://redemmas.org/<%= @page.images.first.the_image_url(:medium) %>">
<% end %>
<% end %>


<% content_for :description do%><%=h truncate(sanitize(@page.introduction, :tags=>[]),:length => 250) %><% end %>



<div class="span8">
<h1 id="pagetitle"><%= @page.title %>
  <div style="float:right;"><small><%= "Not published" unless @page.published? %></small><%=  link_to raw("<i class='icon-edit'></i>"), edit_page_path(@page)   if can? :edit, Page %> 
</h1>
<div class="introduction">
  <%= raw @page.introduction %>
</div>

<% if @page.is_image_grid? %>
<div class="grid">
  <% @page.images.each do |i| %>
  <div class="griditem">
    <div class="griditeminner" style="background-image:url('<%= i.the_image_url(:reasonable)%>')">
      <a href="<%= i.link %>">
	<div class="gridborder"></div>
      </a>
    </div>
    <div class="griditemtitle"><%= i.title %></div>
    <div class="griditemdescription"><%= i.description.html_safe %></div>
  </div>
  <% end %>
</div>
<% end %>

<div class="body">
  <%= raw @page.body %>
</div>
      <%= theme_partial :social %>
</div>
      

      


