<div class="container-fluid spaceontop">
  <div class="row">
    
    <div class="col-md-9">
      <p id="notice" class="success"><%= notice %></p>      
      
      <h1>🪣 Bucket: <%= @bucket.name %></h1>
      
      
      <%= nested_form_for(BucketLineItem.new, :remote=>true,:html=>{:class=>"form-horizontal"}) do |f| %>
      
      
      <%= f.hidden_field(:bucket_id,:value => @bucket.id) %>
      <%= f.hidden_field(:edition_id) %>
      <%= f.hidden_field(:customer_id) %>
      
      <%= my_autocomplete_field_tag f,:item,:edition,autocomplete_editions_path , 
	  link_to_function(content_tag(:i,"",:class=>"fa fa-plus-circle"),
      "window.open('#{new_title_path}?isbn='+$('#item').val())", 
      {:class=>'btn'}) %>


      <%= mytextfield(f,"Notes",:notes,{:style => "width:100%;"}) %>

      <%= my_autocomplete_field_tag f,:customer,:customer,autocomplete_customer_name_customers_path, 
	  link_to_function(content_tag(:i,"",:class=>"fa fa-plus-circle"),
      "window.open('#{new_customer_path}?customer_name='+$('#customer').val())", 
      {:class=>'btn'}) %>
      
      <script>
	$('#item').bind('railsAutocomplete.select', function(event, data){
	$("#bucket_line_item_edition_id").val(data.item.id);
	
	});
	
	$('#customer').bind('railsAutocomplete.select', function(event, data){
	$("#bucket_line_item_customer_id").val(data.item.id);
	
	});
	
	
      </script>

      <%= mylinkbutton("<i class='fa fa-plus-circle'></i> Add","#",{:id=>"add_bucket_line_item"}) %> 
      <% end %>
      
    </div>
    <div class="col-md-3">
      <%= mylinkbutton("<i class='fa fa-pencil'></i> Edit", edit_bucket_path(@bucket)) %> 
      <%= mylinkbutton("<i class='fa fa-font'></i> Export for square", bucket_path(@bucket,:format=>'csv'),:target=>"_blank") %> 
      <table class="table">
	<tr>
	  <th>Bucket Name:</th>
	  <td><%= @bucket.name %></td>
	</tr>
	
	<tr>
	  <th>Number of editions</th>
	  <td><span id="edss"><%= @bucket.number_of_editions %></span></td>
	</tr>

	<tr>
	  <th>Editions in stock</th>
	  <td><span id="eds_in_stock"><%= @bucket.number_of_editions_in_stock %></span></td>
	</tr>

	<tr>
	  <th>Tag</th>
	  <td><%= @bucket.tag %></td>
	</tr>
	
	<tr>
	  <th>Notes:</th>
	  <td><%= best_in_place @bucket, :notes, :as => :textarea, :html_attrs => { :cols => '30', :rows => '20' } %></td>
	</tr>
      </table>
    </div>
  </div>
  <div class="row">
    <table class="table" id="line_items">  
      <tr><th>Title</th><th>ISBN</th><th>List price</th><th>Ordering</th><th>Customer</th><th>Notes</th><th>Move</th></tr>
      <% @bucket_line_items.each do |li| %>
       <%= render li %>
      <% end %>
      <%= paginate @bucket_line_items  %>
    </table>
  </div>
</div>

 


