<% content_for :title do%>
    <%= @event_location.title %>
<% end %>


<% content_for :og do%> 
<%= tag "meta", :property=>"og:title",:content=>@event_location.title %>
<% end %>

<% content_for :description do%><%=h truncate(sanitize(@event_location.description, :tags=>[]),:length => 400) %><% end %>


<div class="row spaceontop">
<div class="col-xs-12">
  <p id="notice"><%= notice %></p>
  
  <h1 class="departmentname"><%= @event_location.title %>
    <div style="float:right;"><%=  link_to raw("<i class='fa fa-pencil'></i>"), edit_event_location_path(@event_location)   if can? :edit, EventLocation %>   </div>
  </h1>
</div>
</div>

<div class="row">
  <div class="col-sm-8">
    <%= @event_location.description.html_safe %>
    <%= link_to "More info about this location",@event_location.url unless @event_location.url.blank? %>
  </div>
  <div class="col-sm-4">
    <h1 class="headername">Address:</h1>
    <%= @event_location.address.html_safe %>
    <p><%= link_to "Map", "http://maps.google.com/?q=#{strip_tags(@event_location.address)}",{:target=>'_blank'} %>  </p>
  </div>
</div>

<div class="row">
  <% @event_location.events.where(:published => true).where("event_start >= ?",DateTime.now).order("event_start asc").each_with_index do |event,i| %> 
  <%= render :partial=>'events/eventnew',:locals => {:event=>event} %>
  <% if i % 3 == 2 %>
  <div class="clearfix visible-lg" ></div>
  <% end %>
  <% if i % 2 == 1 %>
  <div class="clearfix visible-sm visible-md" ></div>
  <% end %>
  
  <% end %>
  
</div>







