<tr id="invoice_line_item_<%= invoice_line_item.id %>">
  <td>
    <% if invoice_line_item.invoice.received? %>
    <%= link_to invoice_line_item.purchase_order_line_item.purchase_order.number,invoice_line_item.purchase_order_line_item.purchase_order unless invoice_line_item.purchase_order_line_item.nil? %>
    <small>
      <% if invoice_line_item.purchase_order_line_item && ! invoice_line_item.purchase_order_line_item.customer.nil? %>
      <div><%= link_to invoice_line_item.purchase_order_line_item.customer,invoice_line_item.purchase_order_line_item.customer %> has/had <%= invoice_line_item.purchase_order_line_item.quantity %> of this edition on this purchase order</div>
      <% end %>
    </small>


    <% else %>
    <%= render "/invoice_line_items/po_picker", :invoice_line_item=>invoice_line_item %>
    <% end %>
  </td>
  <td>
    <%= best_in_place_if (! invoice_line_item.invoice.received?),invoice_line_item, :quantity, :type => :input, :data => {:invoice_line_item => invoice_line_item.id,:invoice => invoice_line_item.invoice.id} %>
  </td>
  <td><%= link_to "#{invoice_line_item.edition.title.title} #{invoice_line_item.edition.number}", invoice_line_item.edition.title, :target=>"blank" %></td>
  <td><%= invoice_line_item.edition.isbn %></td> 
  <td>
    $<%= best_in_place_if (! invoice_line_item.invoice.received?),invoice_line_item, :price, :type => :input, :data => {:invoice_line_item => invoice_line_item.id,:invoice => invoice_line_item.invoice.id} %>
  </td>
  <td>
    <%= best_in_place_if (! invoice_line_item.invoice.received?),invoice_line_item, :discount, :type => :input, :data => {:invoice_line_item => invoice_line_item.id,:invoice => invoice_line_item.invoice.id} %>%
  </td>
  <td class="ext_price"><%= invoice_line_item.ext %></td>
</tr>
