<h1>Listing invoice_line_items</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Edition</th>
    <th>Invoice</th>
    <th>Purchase order</th>
    <th>Is transfer</th>
    <th>Discount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoice_line_items.each do |invoice_line_item| %>
  <tr>
    <td><%= invoice_line_item.quantity %></td>
    <td><%= invoice_line_item.edition %></td>
    <td><%= invoice_line_item.invoice %></td>
    <td><%= invoice_line_item.purchase_order %></td>
    <td><%= invoice_line_item.is_transfer %></td>
    <td><%= invoice_line_item.discount %></td>
    <td><%= link_to 'Show', invoice_line_item %></td>
    <td><%= link_to 'Edit', edit_invoice_line_item_path(invoice_line_item) %></td>
    <td><%= link_to 'Destroy', invoice_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invoice line item', new_invoice_line_item_path %>
