  <div class="col-xs-6 col-sm-4 col-md-2" style="padding:0px;">
    
    <a href="<%= title_path(title) %>" class="gridcover" style="height:200px;display:block;background-color:#ddd;background-image:url('<%= title.latest_published_edition.cover_url(:reasonable) rescue "" %>');background-size:cover;"> 
    </a>
    <div class="griditemtitle"><%= if title.is_in_stock? 
				   "IN STOCK" 
				   elsif title.is_in_print? 
				   "SPECIAL ORDER"
				   else 
				   "OUT OF PRINT"
				   end %></div>

    <div class="griditemdescription">
    <%= buy_mini(title.latest_published_edition) unless title.latest_published_edition.nil? %>
          <% if can? :edit, Title %>
    <div class="hiddenactions">
      <%= unless title.latest_published_edition.nil?  
	 link_to raw('<i class="fa fa-check-circle-o"></i>'), hidden_actions_edition_path(title.latest_published_edition),  {:remote => true, 'data-toggle' =>  'modal', :role=>'button', 'data-target' => '#modal-window',:title=>title.latest_published_edition.publisher}  
      end %>
    </div>
    <% end %>
    <h2 class="booktitle"><%= link_to title.title, title %></h2>
    <h3 class="contributors">
      <%= raw contributors_list(title) %>
    </h3>
    <%= text.html_safe %>
    </div>
  </div>
