<%= nested_form_for(@title,:html => {:class=>"form-horizontal"}) do |f| %>
    <div class="field control-group">
      <%= f.label :move_all_editions_to, :class=>"control-label" %>
    <div class="controls">
      <%= autocomplete_field_tag :old_title, "", autocomplete_title_title_editions_path,:id_element => "#merge_title",  :class=>'a_contribution' %>
      <%= hidden_field_tag :merge_title  %>
    </div>
    </div>
<%= mysubmit f,"Merge" %>
<% end %>
