<div class="label <%= title.in_stock > 0 ? 'label-success' : 'label-warning' %>"><%= title.in_stock %> in stock</div>
<div style="padding-top:5px">

  <% title.outstandingorderlines.each do |li| %>
  <div>
    <small>
        <%= li.still_outstanding %> <%= li.purchase_order.ordered? ? 'ordered' : 'pending' %> on <%= link_to li.purchase_order.number,li.purchase_order %> <%= li.purchase_order.ordered_when.to_formatted_s(:just_date) rescue "" %>		</small>
  </div>
  <% end %>
</div>


  <% title.bucket_line_items.each do |li| %>
  <div>
    <small>
        🪣 <%= link_to li.bucket.name,li.bucket %> 		</small>
  </div>
  <% end %>


