<% unless title.nil? %>
<div class="titleshort row">
  <div class="span1">
    <%= link_to(
	image_tag(title.latest_published_edition.cover_url, :class => :bookcover),
	title)  unless title.latest_published_edition.nil? || title.latest_published_edition.cover_url.nil?  %>
  </div>
  <div class="span6">
    <% if can? :edit, Title %>
    <div class="hiddenactions">
      <%= unless title.latest_published_edition.nil?  
	 link_to raw('<i class="fa fa-circle-check-o"></i>'), hidden_actions_edition_path(title.latest_published_edition),  {:remote => true, 'data-toggle' =>  'modal', :role=>'button', 'data-target' => '#modal-window'}  
      end %>
    </div>
    <% end %>
    <h5 style="float:right;"><%= link_to title.latest_edition.publisher.name,title.latest_edition.publisher rescue "" %> </h5>
    <h2 class="booktitle"><%= link_to title.title, title %></h2>
    <h3 class="contributors">
      <%= raw contributors_list(title) %>
      </h3>
    

    <div class="shortorder">
      <%= status_and_price(title.latest_published_edition) unless title.latest_published_edition.nil?  %>
      <%= buy_or_order(title.latest_published_edition) unless title.latest_published_edition.nil? %>  
    </div>
    <div class="introduction">
      <%= sanitize title.introduction %>
    </div>
  </div>
</div>
<% end %>
