<div class="titleshort row">
  <div class="span1">
    <%= link_to(image_tag(title.latest_published_edition.try(:cover_url,:medium),:class=>"bookcover"),title) unless title.latest_published_edition.try(:cover_url,:medium).nil? unless title.latest_published_edition.nil? %>
  </div>
  <div class="span6">
    <% if can? :edit, Title %>
    <div class="hiddenactions">
      <%= unless title.latest_published_edition.nil?  
	 link_to raw('<i class="icon-ok-circle"></i>'), hidden_actions_edition_path(title.latest_published_edition),  {:remote => true, 'data-toggle' =>  'modal', :role=>'button', 'data-target' => '#modal-window'}  
      end %>
    </div>
    <% end %>
    <h2 class="booktitle"><%= link_to title.title, title %></h2>
    <h3 class="contributors">
      <%= raw contributors_list(title) %>
      </h3>
    
    <div class="shortorder">
      <%= status_and_price(title.latest_published_edition) unless title.latest_published_edition.nil?  %>
      <%= buy_or_order(title.latest_published_edition) unless title.latest_published_edition.nil? %>  
    </div>
    <div class="introduction">
      <%= sanitize title.introduction %>
    </div>
  </div>
</div>

