    <div class="span2">


    </div>

    <div class="span7">
      <h1>Listing titles</h1>
      <% @titles.each do |title| %>
      <%= render title  %>
      <% end %>
    <%= paginate @titles %>
    </div>
    <div class="span3">
      <%=  mylinkbutton "<i class='fa fa-plus-circle'></i> New Title", new_title_path   if can? :create, Title %>
      <%= form_tag '/titles',method: :get,:html=>{:class=>"form-horizontal"} %>
      <div class="fields">
	<div class="field control-group">
	  <div class="controls">
	    <%= text_field_tag "searchquery",@searchquery %>
	    <%= submit_tag "Search",:class=>"btn btn-primary",:style=>"position:relative;top:-5px;" %>
	  </div>
	</div>
      </div>
      </form>

  

