<div class="container-fluid">
  <div class="row spaceontop"
       <div class="col-xs-12">
	 <h2 class="related">Search results</h2>
	 <%=  mylinkbutton "<i class='fa fa-plus-circle'></i> New Title", new_title_path   if can? :create, Title %>
	 <%= form_tag '/titles',method: :get,:html=>{:class=>"form-horizontal"} %>
    <div class="fields">
      <div class="field control-group">
	<div class="controls">
	  <%= text_field_tag "searchquery",@searchquery %>
	  <%= submit_tag "Search",:class=>"btn btn-primary",:style=>"position:relative;top:-5px;" %>
	</div>
      </div>
    </div>
</form>


<%= make_a_grid_from_titles(usefully_sorted(@titles)) %>
</div>

</div>
</div>
  

