<div class="container">
  <div class="row spaceontop"
  <div class="col-sm-9">
    <h1>Listing titles</h1>
    <%= make_a_grid_from_titles(usefully_sorted(@titles)) %>
  </div>
  <div class="col-sm-3">
    <%=  mylinkbutton "<i class='fa fa-plus-circle'></i> New Title", new_title_path   if can? :create, Title %>
    <%= form_tag '/titles',method: :get,:html=>{:class=>"form-horizontal"} %>
    <div class="fields">
      <div class="field control-group">
	<div class="controls">
	  <%= text_field_tag "searchquery",@searchquery %>
	  <%= submit_tag "Search",:class=>"btn btn-primary",:style=>"position:relative;top:-5px;" %>
	</div>
      </div>
    </div>
</form>
</div>
</div>
  

