<h1>New title</h1>

<%= nested_form_for @title,:html=>{:class=>"form-horizontal"} do |f| %>

<% if @title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@title.errors.count, "error") %> prohibited this title from being saved:</h2>
      
      <ul>
	<% @title.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
	<% end %>
      </ul>
    </div>
    <% end %>

    <%= mytextfield f,:title,:title,{:class=>"input-xxlarge"} %>
    
    <script>
    function lookup(isbn){
	var googleAPI = "https://www.googleapis.com/books/v1/volumes?q=isbn:";
	$.getJSON(googleAPI+isbn, function (response) {
	    console.log("JSON Data: " + response.items);
	    if (response.items.length > 0){
		var item = response.items[0];
		title=item.volumeInfo.title;
		if (item.volumeInfo.subtitle){
		    title += ": " + item.volumeInfo.subtitle;
		}
		$("#title_title").val(title);      
      
		// Check the title here against existing titles
		
                $("#title_editions_attributes_0_publisher").val(item.volumeInfo.publisher);
                $("#title_editions_attributes_0_publisher").trigger("focus");
                $("#title_editions_attributes_0_publisher").trigger("keyDown");
    

		$("#title_editions_attributes_0_year_of_publication").val(item.volumeInfo.publishedDate);

		$("#title_editions_attributes_0_remote_cover_url").val("http://covers.openlibrary.org/b/isbn/"+isbn+"-L.jpg");

		for(var i = 0, len = item.volumeInfo.authors.length; i < len; ++i) {
		    if ($("#contributions .a_contribution").length <= i){
			$("#click_to_add_contribution").click();
		    }
		    
		    $("#contributions .a_contribution")[i].value = item.volumeInfo.authors[i];
		    
		}
	    }
	});
    }

    </script>


    <div class="field control-group">
      <%= f.label :contributor, :class=>"control-label" %><br />
      <div class="controls" id="contributions">
	<%= f.fields_for :contributions do |contribution_form| %>
	  <%= contribution_form.autocomplete_field :author, autocomplete_author_full_name_contributions_path,:id_element => "#author-#{contribution_form.my_unique_id}",  :class=>'a_contribution' %>
	  <%= contribution_form.hidden_field :author_id, :id => "author-#{contribution_form.my_unique_id}" %>
	  <%= contribution_form.text_field :what,:placeholder=>"Type of contribution" %>
	  <%= contribution_form.link_to_remove raw("<i class='fa fa-minus-circle'></i> Remove this contributor"), :class=>"btn" %>
	<% end %>
	<div class="verticaloffset">
	  <%= f.link_to_add raw("<i class='fa fa-plus-circle'></i> Add a contributor"), :contributions, {:class=>:btn,:id=>:click_to_add_contribution} %>
	  <%= link_to raw("<i class='fa fa-plus-circle'></i> Create a new author"), new_author_path, {:class=>:btn,:target=>:new} %>
	</div>
      </div>
    </div>
    
    <%= f.fields_for :editions do |edition_form| %>
    <div class="field control-group">
      <%= edition_form.label :isbn10, :class=>"control-label" %>
      <div class="controls"> 
	<%= edition_form.text_field :isbn10 %> <a class="btn" onclick="lookup($('#title_editions_attributes_0_isbn10').val())"  href="#">lookup</a>
      </div>
    </div>

    <div class="field control-group">
      <%= edition_form.label :isbn13, :class=>"control-label" %>
      <div class="controls"> 
	<%= edition_form.text_field :isbn13 %> <a class="btn" onclick="lookup($('#title_editions_attributes_0_isbn13').val())"  href="#">lookup</a>
      </div>
    </div>

    <%= myselectfield edition_form,:publisher,:publisher,autocomplete_publisher_name_titles_path,new_publisher_path %>
    <%= mytextfield edition_form,:list_price,:list_price %>
    <%= mytextfield edition_form,:year_of_publication,:year_of_publication %>
    <%= myselector edition_form,:format,:format,Edition.formats %>
    <%= mytextfield edition_form,:number,:number,{},"Use for issue of magazine or size of clothing" %>
    
    

    <div class="control-group">
      <label class="control-label">Cover</label>
      <div class="controls">
        <%= edition_form.file_field :cover %>
        <%= image_tag edition_form.object.cover_url(:thumb) if edition_form.object.cover? %>
      </div>
    </div>
    <%= mytextfield edition_form,:remote_cover_url,:remote_cover_url %>


    <% end %>

<%= mysubmit f,"Save" %>

<% end %>


