<%= content_for :title do %>
 <%= @title.title %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="span2">
      <%= image_tag @edition.cover_url(:medium),:class=>"bookcover" unless @edition.nil? %>

    </div>
    <div class="span7">


      <h1 class="booktitle"><%= @title.title %></h1>
      <h2 class="contributors">
	<%= sanitize contributors_list(@title) %>
      </h2>

<div class="introduction">
  <%= sanitize @title.introduction %>
</div>


<div class="description">
  <%= sanitize @title.description %>
</div>
</div>

<div class="span3">
  <%= status_and_price(@edition) unless @edition.nil? %>
  <%= buy_or_order(@edition) unless @edition.nil? %>  
  <table class="table">
    <% if can? :edit, Title %>
    <tr>
      <th>On order (all editions)</th>
      <td><%= @title.on_order %></td>
    </tr>
    
    <tr>
      <th>In stock (all editions)</th>
      <td><%= @title.in_stock %></td>
    </tr>

    <tr>
      <th>Sold (all editions)</th>
      <td><%= @title.sold %></td>
    </tr>


    <% end %>
  <tr>
    <th>ISBN</th>
    <td><%= @edition.isbn13 unless @edition.nil? %></td>
  </tr>
  <tr>
    <th>List price</th>
    <td>$<%= @edition.list_price unless @edition.nil? %></td>
  </tr>
  <tr>
    <th>Publisher</th>
    <td><%= @edition.publisher.name unless @edition.publisher.nil? %></td>
  </tr>
  <tr>
    <th>Year of publication</th>
    <td><%= @edition.year_of_publication unless @edition.nil? %></td>
  </tr>
  
  <% if can? :edit,Edition %>
  <tr>
    <th><%=  mylinkbutton "<i class='icon-edit'></i> Edit this title", edit_title_path(@title),{},"btn-mini"   if can? :edit, Title %> <%= mylinkbutton "<i class='icon-edit'></i> Edit this edition",edit_edition_path(@edition),{},"btn-mini" %></th>
    <td></td>
  </tr>
  <% end %>

    <% if can? :edit,Edition %>
    <tr>
      <th>Copies</th>
      <td><%= link_to "See all copies for this edition",edition_copies_path(@edition) %></td>
    </tr>
    <% end %>

  <% if @title.editions.without_edition(@edition).length > 0 %>
  <tr>
    <th>Other editions:</th>
    <td>
      <ul class="editions">
      <% @title.editions.without_edition(@edition).each do |e| %>
      <li><%= link_to e, e %>
	<% end %>
      </ul>
    </td>
  </tr>
  <% end %>

</table>



</div>
</div>
</div>


<% content_for :related do %>

<div class="span3">
hey
</div>
<div class="span3">
more stuff
</div>
<div class="span3">
tk
</div>
<div class="span3">
coming soon
</div>

<% end %>
