<p id="notice"><%= notice %></p>


<%= image_tag @title.latest_edition.cover_url(:medium) if @title.latest_edition? %>

<h1><%= @title.title %></h1>
  
<h2>Contributors</h2>
<ul>
<% @title.contributions.each do |c| %>
<li><%= link_to c, c.author %>
<% end %>
</ul>

<h2>Editions</h2>
<ul>
<% @title.editions.each do |e| %>
<li><%= link_to e, e %>
<% end %>
</ul>


<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
