<%= content_for :title do %>
<%= @title.title %> by <%= sanitize(contributors_list(@title),:tags=>[]) %>
<% end %>

<% content_for :og do%>
<%= tag "meta", :property=>"og:title",:content=>@title.title %>
<%= tag "meta", :property=>"og:type",:content=>"website" %>
<% if !(@edition.nil? || @edition.cover_url.blank?) %>
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="https://redemmas.org/<%= @edition.cover_url(:opengraph) %>">
<% end %>
<%= tag "meta", :property=>"og:url",:content=>"https://redemmas.org/titles/#{@title.id}" %>
<%= tag "meta", :property=>"og:description",:content=>sanitize("#{@title.introduction}", :tags=>[]) unless @title.introduction.blank? %>

<% end %>

<% if ! @edition.isbn13.blank? %>
<script>
 $( document ).ready(function() {
 $.ajax({
 type: 'GET',
 url: '/editions/<%= @edition.id %>/bookshop',
 dataType : 'script'
 })});

 </script>
<% end %>

<% content_for :description do%><%=h truncate(sanitize("#{@title.introduction}", :tags=>[]),:length => 250) %><% end %>


<div class="row spaceontop">
  <div class="col-sm-6 col-sm-offset-1 col-lg-offset-2 ">
    <h1 class="booktitle"><%= @title.title %> <%= @edition.number %> 
      <% if can? :edit, Title && ! @edition.nil? %>
      <div class="hiddenactions ">
	<%= link_to raw('<i class="fa fa-check-circle-o"></i>'), hidden_actions_edition_path(@edition),  {:remote => true, 'data-toggle' =>  'modal', :role=>'button', 'data-target' => '#modal-window'} unless @edition.nil? %>
      </div>
    </h1>
    <% end %>
    <h2 class="contributors">
      <%= sanitize contributors_list(@title) %>
    </h2>
    <h3 class="titleformat"><%= @edition.format %></h3>
    
    <%= status_and_price(@edition) unless @edition.nil? %>
    <div style="margin-left:20px;"><%= buy_or_order(@edition) unless @edition.nil? %> </div>
    <div id="bookshop"></div>
    

   <!-- theme_partial :social %> -->
    
    <% if !(@title.introduction.blank? && @title.description.blank?) %>
    <div class="introduction abridged" style="height:100px;overflow:hidden;position:relative;">
      <%= sanitize @title.introduction %>
      <%= sanitize @title.description %>
      <div class="fadebottom"></div>
    </div>
    <% end %>
    
    <% if can? :edit,Edition %> 


    <div style="float:left;margin-right:10px;"><%=  mylinkbutton "<i class='fa fa-edit'></i> Edit this title", edit_title_path(@title),{},"btn-mini"   if can? :edit, Title %> </div>
    <% unless @edition.nil? %>
    <%= mylinkbutton "<i class='fa fa-edit'></i> Edit this edition",edit_edition_path(@edition),{},"btn-mini" %>
    <% end %>
    <% end %>
    
    
    <table class="table titlemeta table-condensed">
      <% if can? :edit, Title %>
      <tr>
	<th>On order (all editions)</th>
	<td><%= @title.on_order %></td>
      </tr>
      
      <tr>
	<th>In stock (all editions)</th>
	<td><%= @title.in_stock %></td>
      </tr>
      <tr>
	<th>Sold (all editions)</th>
	<td><%= @title.sold %></td>
      </tr>
      <% end %>
      <tr>
	<th>ISBN</th>
	<td style="font-size:12px;"><%= @edition.isbn13 unless @edition.nil? %></td>
      </tr>
      <tr>
	<th>List price</th>
	<td>$<%= @edition.list_price unless @edition.nil? %></td>
      </tr>
      <tr>
	<th>Publisher</th>
	<td><%= link_to(@edition.publisher.name, @edition.publisher) unless @edition.nil? || @edition.publisher.nil? %></td>
      </tr>
      <tr>
	<th>Year of publication</th>
	<td><%= @edition.year_of_publication unless @edition.nil? %></td>
      </tr>
      
      <% if can? :edit,Edition && ! @edition.nil? %>
      <tr class="">
	<th>Copies</th>
	<td><%= link_to "See all copies for this edition",edition_copies_path(@edition) unless @edition.nil? %></td>
      </tr>
      <% end %>
      
      <% if @title.editions.without_edition(@edition).length > 0 %>
      <tr>
	<th>Other editions:</th>
	<td>
	  <ul class="editions">
	    <% @title.editions.without_edition(@edition).each do |e| %>
	    <li><%= link_to e, e %> <%= e.my_stock_status %>
	      <% end %>
	  </ul>
	</td>
      </tr>
      <% end %>
      
      <% if can? :edit,Title %>
      <tr>
	<th>Outstanding orders for this title:</th>
	<td>
	  <ul>
	    <% @title.outstandingorderlines.each do |li| %>
	    <li> <%= link_to "#{li.quantity-li.received} on #{li.purchase_order.number}", li.purchase_order %> 
	      <%= li.purchase_order.ordered? ? "(ORDERED on #{li.purchase_order.ordered_when.to_formatted_s(:just_date)})" : "(NOT ORDERED)" %>
	      <% end %>
	  </ul>
	</td>
      </tr>
      
      <% end %>
    </table>
  </div>
  <div class="col-sm-4 col-lg-2">
    
    <%= image_tag @edition.cover_url(:medium),:class=>"bookcover" unless (@edition.nil? || @edition.cover_url.blank?)%>
  </div>
  
</div>






<% content_for :related do %>

<% if @title.by_the_same_authors.length > 0 %>
<div class="row">
  <div class="col-xs-12">
  <h2 class="related">By the same author(s)</h2>
  <br />
  <%= make_a_grid_from_titles usefully_sorted(@title.by_the_same_authors) %>
  </div>
</div>
<% end %>

<% if @title.posts.length > 0 %>
<div class="row">
  <div class="col-xs-12">
  <h2  class="related">On our blog</h2>
  <br />
  <% @title.posts.each do |post| %>
  <h2 class="relatedsubhead"><%= link_to post.title,post %></h2>
  <h3><%= post.created_at.to_formatted_s(:long_date) %></h3>
  <% post.images.limit(1).each do |i| %>
  <div class="item">
    <%= image_tag i.the_image_url(:reasonable),{:class=>'blogbarimage'} %>
  </div>  
  <% end %>
  <div class="introduction">
    <%= raw post.introduction %>
  </div>
  <%= link_to "Read more...",post %>
  <hr style="clear:both;">
  <% end %>
  </div>
</div>
  <% end %>


<% if @title.title_lists.where(:public=>true).length > 0 %>
<div class="row">
  <div class="col-xs-12">
    <h2 class="related" style="clear:both;">On our lists</h2>
    <% @title.title_lists.each do |l| %>
    <% if l.public? %>
    <h3 class="relatedsubhead"><%= link_to l.name,l %></h3>
    <div class="introduction"><%= sanitize l.description %></div>
    <%= make_a_grid_from_titles usefully_sorted(l.titles).first(5) %>
    <div class="col-xs-6 col-sm-4 col-md-2 gridmore">
      <%= link_to "More titles on this list »",l %>
    </div>
    <% end %>
    <hr style="clear:both;" />
    <% end %>
  </div>
</div>
<% end %>

  
  <% if @title.categories.length > 0 %>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="related">Section(s)</h2>
      <% @title.categories.each_with_index do |c,i| %>
      
      <div class="col-xs-6 col-sm-4" style="padding:0px;">
	<a href="<%= category_path(c) %>" class="gridcover" style="height:300px;display:block;background-color:#ddd;background-image:url('<%= c.image_url(:reasonable) rescue "" %>');background-size:cover;"> 
	</a>
	<h3 class="relatedsubhead" style="margin-left:16px;" ><%= link_to c.name,c %></h3>
      </div>
      <% end %>
      </div>
    <% end %>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">
    <%= render "/titles/searchbrowse" %>
    </div>
  </div>
</div>

<% end %>





