<%= content_for :title do %>
 <%= @title.title %> by <%= sanitize(contributors_list(@title),:tags=>[]) %>
<% end %>

<% content_for :description do%><%=h truncate(sanitize("#{@title.introduction}", :tags=>[]),:length => 250) %><% end %>

    <div class="span2">
      
      
    </div>
    <div class="span6">
      <% if can? :edit, Title && ! @edition.nil? %>
      <div class="hiddenactions ">
	<%= link_to raw('<i class="icon-ok-circle"></i>'), hidden_actions_edition_path(@edition),  {:remote => true, 'data-toggle' =>  'modal', :role=>'button', 'data-target' => '#modal-window'} unless @edition.nil? %>
      </div>
      <% end %>
      
      
      <h1 class="booktitle"><%= @title.title %> <%= @edition.number %> (<%= @edition.format %>)</h1>
      <h2 class="contributors">
	<%= sanitize contributors_list(@title) %>
      </h2>
      
      <div class="introduction">
	<%= sanitize @title.introduction %>
      </div>
      
      
      <div class="description">
	<%= sanitize @title.description %>
      </div>
    </div>
    <div class="span2">
      <%= image_tag @edition.cover_url(:medium),:class=>"bookcover" unless (@edition.nil? || @edition.cover_url.blank?)%>
      <%= theme_partial :social %>
    </div>
    <div class="span2">
      <%= status_and_price(@edition) unless @edition.nil? %>
  <%= buy_or_order(@edition) unless @edition.nil? %>  
  <table class="table">
    <% if can? :edit, Title %>
      <tr>
	<th>On order (all editions)</th>
	<td><%= @title.on_order %></td>
      </tr>
      
      <tr>
	<th>In stock (all editions)</th>
	<td><%= @title.in_stock %></td>
      </tr>
    <tr>
      <th>Sold (all editions)</th>
      <td><%= @title.sold %></td>
    </tr>
    <% end %>
  <tr>
    <th>ISBN</th>
    <td><%= @edition.isbn13 unless @edition.nil? %></td>
  </tr>
  <tr>
    <th>List price</th>
    <td>$<%= @edition.list_price unless @edition.nil? %></td>
  </tr>
  <tr>
    <th>Publisher</th>
    <td><%= link_to(@edition.publisher.name, @edition.publisher) unless @edition.nil? || @edition.publisher.nil? %></td>
  </tr>
  <tr>
    <th>Year of publication</th>
    <td><%= @edition.year_of_publication unless @edition.nil? %></td>
  </tr>
  
  <% if can? :edit,Edition %>
  <tr class="">
    <th>
      <%=  mylinkbutton "<i class='icon-edit'></i> Edit this title", edit_title_path(@title),{},"btn-mini"   if can? :edit, Title %> 
      <% unless @edition.nil? %>
      <%= mylinkbutton "<i class='icon-edit'></i> Edit this edition",edit_edition_path(@edition),{},"btn-mini" %>
      <% end %>
    </th>
    <td></td>
  </tr>
  <% end %>

    <% if can? :edit,Edition && ! @edition.nil? %>
    <tr class="">
      <th>Copies</th>
      <td><%= link_to "See all copies for this edition",edition_copies_path(@edition) unless @edition.nil? %></td>
    </tr>
    <% end %>

  <% if @title.editions.without_edition(@edition).length > 0 %>
  <tr>
    <th>Other editions:</th>
    <td>
      <ul class="editions">
      <% @title.editions.without_edition(@edition).each do |e| %>
      <li><%= link_to e, e %>
	<% end %>
      </ul>
    </td>
  </tr>
  <% end %>

</table>



</div>
</div>



<% content_for :related do %>

<div class="span2"></div>
<div class="span8">
  <% if @title.by_the_same_authors.length > 0 %>
  <h2>By the same author(s)</h2>
  <div class="grid">
    <% @title.by_the_same_authors.each do |t| %>
    <%= render :partial=>'titles/gridtitle', :locals => {:title=>t,:text=>""}%>
    <% end %>
  </div>
  <% end %>
    
<% if @title.posts.length > 0 %>
<hr style="clear:both">
  <h2>On our blog</h2>
  <% @title.posts.each do |post| %>
  <h2 class="posttitle"><%= link_to post.title,post %></h2>
  <h3><%= post.created_at.to_formatted_s(:long_date) %></h3>
  <% post.images.limit(1).each do |i| %>
  <div class="item">
    <%= image_tag i.the_image_url(:reasonable),{:class=>'blogbarimage'} %>
</div>  
<% end %>
<div class="introduction">
  <%= raw post.introduction %>
</div>
<%= link_to "Read more...",post %>
  <hr style="clear:both;">
  <% end %>
  <% end %>

  <% if @title.title_lists.where(:public=>true).length > 0 %>
  <h2>On our lists</h2>
  <% @title.title_lists.each do |l| %>
  <% if l.public? %>
  <h3><%= link_to l.name,l %></h3>
  <div>
    <%= sanitize l.description %>
  </div>
  <div class="grid">  
    <% usefully_sorted(l.titles).first(6).each do |t| %>
    <%= render :partial=>'titles/gridtitle', :locals => {:title=>t,:text=>""}%>
    <% end %>
    <%= link_to "More like this...",l,{:class=>"listmore",:style=>"clear:both;"} %>
  </div>
  <hr>
  <% end %>
  <% end %>


</div>

<div class="span2">

  <% if @title.categories.length > 0 %>
  <h2>Section(s)</h2>
  <% @title.categories.each do |c| %>
  <h3><%= link_to c.name,c %></h3>
  <%= image_tag c.image_url(:medium) if (!c.image.file.nil? && c.image.file.exists?) %>
  <div>
    <%= sanitize c.description %>
  </div>
  <b><%= link_to "Browse this category",c %></b>
  <hr>
  <% end %>
  <% end %>

  
</div>
</div>
<% end %>
  <% end %>
