<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center>
    <table border="0" width="600">
      <tr>
	<td>
	  <img src="https://redemmas.org/assets/redemmas/emmas.png" align="right" style="margin-left:10px;margin-bottom:10px;width:200px;height:auto;">
	  <h1>Hi!</h1>
	  <p>
	    This is just to let you know that we have received your online order, and we should be processing it soon.
	    Please note that orders placed on Monday may be delayed, since the store is always closed on Mondays.
	  </p>
	  <p>
	    We do our best to make sure that everything listed as in stock on our website is available immediately to ship from or be picked up at the store, but in the event there is a discrepancy in our inventory which will delay your order, we will be sure to be in touch.  If you've ordered something for pickup at the store, we will make sure to send you a mail when your order is ready and waiting for you behind our books counter.   
	  </p>


	  <p>
	    <i>Here is a summary of the order you just placed:</i>
	  </p>
	  
	  <table width='600'>
	    <tr><th>Quantity</th><th>Item</th><th>Item Price</th><th>Total</th><th></th></tr>
	    <% @shopping_cart.shopping_cart_line_items.each do |li| %>
	    <tr>
	      <td><%= li.quantity %></td>
	      <td><%= "#{li.edition.title} #{li.edition}"%></td>
	      <td>$<%= li.cost %></td>
	      <td>$<%= li.cost * li.quantity %></td>
	      <td></td>
	    </tr>
	    <% end %>
	    <tr>
	      <td></td>
	      <td></td>
	      <td>Subtotal:</td>
	      <td><strong>$<%= @shopping_cart.subtotal %></strong></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td></td>
	      <td>Shipping: <strong><%= @shopping_cart.shipping_method %></strong></td>
	      <td></td>
	      <td>$<%= @shopping_cart.shipping_cost %></td>
	      <td></td>
	    </tr>
	    
	    <tr>
	      <td></td>
	      <td>Sales tax:</td>
	      <td></td>
	      <td>$<%= @shopping_cart.tax %></td>
	      <td></td>
	    </tr>

	    
	    <tr>
	      <td></td>
	      <td></td>
	      <td><strong>Total:</strong></td>
	      <td><strong>$<%= @shopping_cart.total %></strong></td>
	      <td></td>
	    </tr>
	  </table>
	  
	  <p><strong>Thanks for ordering from Red Emma's!  Your business and your support means everything to us!  If you have any questions, please don't hesitate to be in touch at books@redemmas.org.</strong></p>
	</td>
      </tr>
    </table>
    </center>
  </body>
</html>
