
<div class="row spaceontop">
  <div class="col-sm-12">
    <h1 class="headername">News and Updates</h1>
    <div class="span3">
      <%=  mylinkbutton "<i class='icon-plus'></i> New Post", new_post_path  if can? :create, Post %>
    </div>
  </div>
</div>


<div class="row">
  <% @posts.each_with_index do |post,i| %>
  <div class="col-sm-6 col-lg-4">
    <a href="<%= post_path(post) %>" class="gridcover" style="height:300px;display:block;background-color:#ddd;background-image:url('<%= post.images.first.the_image_url rescue "" %>');background-size:cover;"> 
    </a>  
    <div class="row">
      <div class="col-sm-8">
	<h2 class="posttitle"><%= link_to post.title,post %></h2>
      </div>
      <div class="col-sm-4">
	<div class="metafloat">
	  <h3 class="postdate"><%= post.created_at.to_formatted_s(:long_date) %></h3>
	  <div class="postedin"><%= post.post_categories.collect{|cat|  link_to cat.name,cat}.join(" ★ ").html_safe %></div> 
	</div>
      </div>
    </div>
  </div>
  
  <% if i % 3 == 2 %>
  <div class="clearfix visible-lg-block" ></div>
  <% end %>
  <% if i % 2 == 1 %>
  <div class="clearfix visible-sm-block visible-md-block" ></div>
  <% end %>
  
<% end %>
</div>

  
<%= paginate @posts %>


