<% content_for :title do%>
    <%= @post.title %>
<% end %>

<% content_for :og do%>
<% if ! @post.images.first.nil? %>
<meta property="og:image" content="https://redemmas.org/<%= @post.images.first.the_image_url(:medium) %>">
<% end %>
<% end %>
 

<% content_for :description do%><%=h truncate(sanitize(@post.introduction, :tags=>[]),:length => 250) %><% end %>


<% if  @post.images.first.nil? %>

<div class="row spaceontop">
  <div class="col-xs-offset-1 col-xs-10">
    <h1 class="posttitle"><%= @post.title %></h1>
  </div>
</div>

<% else %>

<div class="row post_titlesplash <%= 'post-has-image' if @post.images.length > 0 %>" 
style="background:linear-gradient(
      rgba(20,0,0, 0.2), 
      rgba(20,0,0, 0.2)
      ),url(<%= @post.images.first.the_image_url %>);background-attachment:fixed; 
      background-size:cover;">
  <div class="col-xs-offset-1 col-xs-10">
    <h1 class="posttitle"><%= @post.title %></h1>
  </div>
</div>

<% end %>


<div class="row">


  <div class="col-sm-offset-1 col-sm-6 col-lg-offset-1">

    

    
    <div class="introduction">
      <%= raw @post.introduction %>
    </div>
    


  
    <% if !@post.audio.blank? %>
    <div class="audioplayer">
      <audio src="<%= @post.audio %>" />
    </div>
    <% end %>
  
    <div class="body">
      <%= raw @post.body %>
    </div> 
  
    <%= theme_partial :social %>      
  </div>

    <div class="col-sm-4 col-lg-3">
      <div class="metafloat">
    <div style="float:right;"><small><%= "Not published" unless @post.published? %></small><%=  link_to "Edit", edit_post_path(@post),:class=>"btn btn-primary" if can? :edit, Post %></div>
	<h3 class="postdate"><%= @post.created_at.to_formatted_s(:long_date) %></h3>      
	<div class="postedin"><%= @post.post_categories.collect{|cat|  link_to cat.name,cat}.join(" ★ ").html_safe %></div> 
      </div>
      
      <% @post.titles.each do |t| %>
      <%= render :partial=>'titles/gridtitlefullheight', :locals => {:title=>t,:text=>""}%>
      <% end %>
    </div>

</div>


<div class="container">
  <% @post.title_lists.each do |title_list| %>
  <div class="row">
    <%= make_a_grid_from_titles usefully_sorted(title_list.titles) %>
  </div>
  <% end %>
</div>


<div class="container">
  <div class="row spaceontop">
    <div class="col-xs-12">
      <% if @post.post_categories.length > 0 %>
      <h2 class="related">More posts in <%= link_to @post.post_categories[0].name, @post.post_categories[0] %></h2>
      <% moreposts = @post.post_categories[0].posts.published.where('posts.id != ?',@post.id).order("created_at desc") %>
      <% else %>
      <h2 class="related">More posts</h2>
      <% moreposts = Post.where('id != ?',@post.id).order("created_at desc").limit(10) %>
      <% end %>
    </div>
  </div>  
  
  <div class="row">
    <% moreposts.each_with_index do |post,i| %>
  <div class="col-sm-6 col-lg-4">
    <a href="<%= post_path(post) %>" class="gridcover" style="height:300px;display:block;background-color:#ddd;background-image:url('<%= post.images.first.the_image_url rescue "" %>');background-size:cover;"> 
    </a>  
    <div class="row">
      <div class="col-sm-8">
	<h2 class="posttitle"><%= link_to post.title,post %></h2>
      </div>
      <div class="col-sm-4">
	<div class="metafloat">
	  <h3 class="postdate"><%= post.created_at.to_formatted_s(:long_date) %></h3>
	  <div class="postedin"><%= post.post_categories.collect{|cat|  link_to cat.name,cat}.join(" ★ ").html_safe %></div> 
	</div>
      </div>
    </div>
  </div>
  
  <% if i % 3 == 2 %>
  <div class="clearfix visible-lg" ></div>
  <% end %>
  <% if i % 2 == 1 %>
  <div class="clearfix visible-sm visible-md" ></div>
  <% end %>
  
<% end %>
  </div>
</div>
	





