<% content_for :title do%>
    <%= @post.title %>
<% end %>

<% content_for :description do%><%=h truncate(sanitize(@post.introduction, :tags=>[]),:length => 250) %><% end %>

<div class="span8">
    
  <h1 id="pagetitle"><div style="float:right;"><small><%= "Not published" unless @post.published? %></small><%=  link_to raw("<i class='icon-edit'></i>"), edit_post_path(@post) if can? :edit, Post %></div>
    <%= @post.title %>
  </h1>
  <h2><%= @post.created_at.to_formatted_s(:long_date) %></h2>
  
  <div style="float:right;padding-left:5px;">
      
      <% index=0 %>
      <% @post.images.each do |i| %>
      <% index=index+1 %>
      <div>
	<%= image_tag i.the_image_url(:medium),{:width => "100%"} %>
	<h5><%= i.title %></h5>
      </div>
      <% end %>
    </div>

    
      <div class="introduction">
	<%= raw @post.introduction %>
      </div>
      
      <div class="body">
	<%= raw @post.body %>
      </div>
      <%= theme_partial :social %>      
<hr>
      
      <% @post.titles.each do |t| %>
      <%= render :partial=>'titles/gridtitle', :locals => {:title=>t,:text=>""}%>
      <% end %>
      



    </div>
      <div class="span2">
	
	<% if @post.post_categories.length > 0 %>
	<h2>More posts in <%= link_to @post.post_categories[0].name, @post.post_categories[0] %></h2>
	<% moreposts = @post.post_categories[0].posts.published.where('posts.id != ?',@post.id).order("created_at desc") %>
	<% else %>
	<h2>More posts</h2>
	<% moreposts = Post.where('id != ?',@post.id).order("created_at desc").limit(10) %>
	<% end %>
	<% moreposts.each do |p| %>
	<h3><%= link_to p.title,p %></h3>
	<p><%= p.created_at.to_formatted_s(:long_date) %></p>
	<% end %>
	

	


      </div>

    </div>
  </div>

<% @post.title_lists.each do |title_list| %>
<div class="row">
  <div class="span3"></div>
  <div class="span6">
    <h1><%= link_to title_list.name,title_list %></h1>
    <p>
      <%= sanitize title_list.description %>
    </p>
    
    <div class="grid">
      <% title_list.title_list_memberships.each do |tlm| %>
      <%= render :partial=>'titles/gridtitle', :locals=>{:title=>tlm.title,:text=>(tlm.notes || "") } unless tlm.title.nil? %>
      <% end %>
    </div>
</div>
  <div class="span3">
      <%= mylinkbutton 'Edit', edit_title_list_path(title_list) if can? :edit,TitleList %>
</div>
</div>
    <% end %>





