

<div class="span8">
    
  <h1 id="pagetitle"><div style="float:right;"><small><%= "Not published" unless @post.published? %></small><%=  link_to raw("<i class='icon-edit'></i>"), edit_post_path(@post) if can? :edit, Post %></div>
    <%= @post.title %>
  </h1>
  <h2><%= @post.created_at.to_formatted_s(:long_date) %></h2>
  
  <div style="float:right;">
      
      <% index=0 %>
      <% @post.images.each do |i| %>
      <% index=index+1 %>
      <div>
	<%= image_tag i.the_image_url(:medium),{:width => "100%"} %>
	<h5><%= i.title %></h5>
      </div>
      <% end %>
    </div>

    
      <div class="introduction">
	<%= raw @post.introduction %>
      </div>
      
      <div class="body">
	<%= raw @post.body %>
      </div>
      
      <% @post.titles.each do |t| %>
      <%= link_to(image_tag(t.latest_published_edition.try(:cover_url,:medium),:class=>"bookcover"),t) unless t.latest_published_edition.try(:cover_url,:medium).nil? %>
      <h4><%= link_to t.title,t %></h4>
      <% end %>
      
      <%= theme_partial :social %>


    </div>
      <div class="span2">

	<h2>More posts in <%= @post.post_category.name %></h2>
	<% @post.post_category.posts.where('id != ?',@post.id).order("created_at desc").each do |p| %>
	<h3><%= link_to p.title,p %></h3>
	<h4><%= p.created_at.to_formatted_s(:long_date) %></h4>
	
	<% end %>
	

	


      </div>

    </div>
  </div>

<% @post.title_lists.each do |title_list| %>
<div style="float:right;">
  <%= mylinkbutton 'Edit', edit_title_list_path(title_list) if can? :edit,TitleList %>
</div>  
<h1><%= link_to title_list.name,title_list %></h1>
<p>
  <%= sanitize title_list.description %>
</p>

<% title_list.titles.each do |t| %>
<%= render :partial=>'titles/title', :object=>t %>
<% end %>
<% end %>





