<%= nested_form_for(@category,:html=>{:class=>"form-horizontal"}) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= mytextfield f,:name,:name,{:class=>"input-xxlarge"} %>
  <%= mytextarea f,:description,:description %>

  <div class="field control-group">
    <%= f.label :image,:class=>"control-label" %>
    <div class="controls">
      <%= f.file_field :image %>
    </div>
  </div>
 
  <%= mysubmit f,:save%>

<% end %>
