<div class="row">
<div class="span8">
  <h1>Listing categories</h1>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Books sold</th>
      <th>Titles in stock</th>
      <th>Total titles</th>
    </tr>
    
    <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name,category %></td>
      <td><%= category.copies_sold %></td>
      <td><%= category.titles_in_stock %></td>
      <td><%= category.total_titles %></td>
  </tr>
    <% end %>
</table>
</div>
  
<div class="span4">
<%= mylinkbutton 'New Category', new_category_path if can? :edit,Category%>
</div>
</div>
