<p id="notice"><%= notice %></p>

<div style="float:right;">
  <%= mylinkbutton 'Edit', edit_category_path(@category) if can? :edit,Category %>
</div>  


<h1>Category:
  <%= @category.name %>
</h1>

<p>
  <div style="float:left;margin-right:10px;margin-bottom:10px;"><%= image_tag @category.image_url(:medium)  if (!@category.image.file.nil? && @category.image.file.exists?)  %></div>
  <%= sanitize @category.description %>
</p>

<% @category.titles.each do |t| %>
<%= render :partial=>'titles/title', :object=>t %>
<% end %>
