<div class="span7">
<p id="notice"><%= notice %></p>

<div style="float:right;">
  <%= mylinkbutton 'Edit', edit_category_path(@category) if can? :edit,Category %>
</div>  


<h1>Category:
  <%= @category.name %>
</h1>

<p>
  <div style="float:left;margin-right:10px;margin-bottom:10px;"><%= image_tag @category.image_url(:medium)  if (!@category.image.file.nil? && @category.image.file.exists?)  %></div>
  <%= sanitize @category.description %>
</p>
</div>
</div>
<div class="row">
<div class="span2">
</div>
<div class="span8">
  <hr>
  <% @category.title_lists.order("position ASC").each do |tl| %>
  <h2><%= link_to tl.name,tl %></h2>
  <div class="grid">  
    <% tl.titles.limit(6).each do |t| %>
    <%= render :partial=>'titles/gridtitle', :locals => {:title=>t,:text=>""}%>
    <% end %>
    <%= link_to "More like this...",tl,{:class=>"listmore"} %>
  </div>
<hr style="clear:both;">
  <% end %>
</div>
</div>

<div class="row">
  <div class="span2"></div>
  <div class="span7">
    <div class="grid">  
      <% @category.titles.order("title asc").each do |t| %>
      <%= render :partial=>'titles/gridtitle', :locals => {:title=>t,:text=>""}%>
      <% end %>
    </div>
  </div>
