<h1>Listing title_category_memberships</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @title_category_memberships.each do |title_category_membership| %>
  <tr>
    <td><%= title_category_membership.title %></td>
    <td><%= title_category_membership.category %></td>
    <td><%= link_to 'Show', title_category_membership %></td>
    <td><%= link_to 'Edit', edit_title_category_membership_path(title_category_membership) %></td>
    <td><%= link_to 'Destroy', title_category_membership, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Title category membership', new_title_category_membership_path %>
