<h1>Listing return_order_line_items</h1>

<table>
  <tr>
    <th>Return order</th>
    <th>Copy</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @return_order_line_items.each do |return_order_line_item| %>
  <tr>
    <td><%= return_order_line_item.return_order %></td>
    <td><%= return_order_line_item.copy %></td>
    <td><%= link_to 'Show', return_order_line_item %></td>
    <td><%= link_to 'Edit', edit_return_order_line_item_path(return_order_line_item) %></td>
    <td><%= link_to 'Destroy', return_order_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Return order line item', new_return_order_line_item_path %>
