<%= form_for(@image, :html => {:multipart => true,:class=>"form-horizontal"}) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= mytextfield f,:title,:title,{:class=>"input-xxlarge"} %>

  <div class="field control-group">
    <%= f.label :the_image,"Image file",:class=>"control-label" %>
    <div class="controls">
      <%= f.file_field :the_image %>
    </div>
  </div>

  <%= mytextarea f,:description,:description,{} %>

  <%= mysubmit f,:save %>
  
<% end %>
