<% if can? :edit,ShoppingCart %>
<% outstanding_carts=ShoppingCart.where(:submitted=>true,:deferred=>false,:completed=>false).order(:created_at) %>

<% if !outstanding_carts.empty? %>
<div id="outstanding_orders">
  <h1><blink><%= link_to "Deal with online orders!", shopping_carts_path %></blink></h1>
<!--   outstanding_carts.each do |s|  %>
  <span class='order_alert'>
     link_to s.submitted_when.to_formatted_s(:full_date_time),s %>
  </span>
   end %>
-->
</div>
<% end %>
<% end %>


      <ul class="nav navbar-nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
    <% if can? :edit,Title %>
      <li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	  Inventory
	  <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
	  <li>	<%= link_to 'Dashboard', '/dashboard' %></li>
	  <li>	<%= link_to 'Make a sale', new_sale_order_path() %></li>
	  <li>  <%= link_to  'Purchase orders', purchase_orders_path() %></li> 
	  <li>  <%= link_to  'Invoices', invoices_path() %></li> 
	  <li>  <%= link_to  'Search titles', "/dashboard/search" %></li> 
	  <li>  <%= link_to  'Daily sales', "/daily" %></li> 
	  <li>  <%= link_to  'Sales report', "/sales" %></li> 
	  <li>  <%= link_to  'Consignment', "/consignment" %></li> 
	  <li>  <%= link_to  'Purchase Summary', "/purchases_by_date_and_owner" %></li> 
	  <li>  <%= link_to  'Flow by Owner', "/ownerflow" %></li> 
	  <li>  <%= link_to  'Inventory value', "/inventory_value_by_date_and_owner" %></li> 
	  <li>  <%= link_to  'Inventory by owner', "/inventory_report_by_owner" %></li> 
	  <li>  <%= link_to  'Returns', return_orders_path() %></li> 
	  <li>  <%= link_to  'Publishers', publishers_path() %></li> 
	  <li>  <%= link_to  'Distributors', distributors_path() %></li> 
	  <li>  <%= link_to  'Sections', categories_path() %></li> 
	  <li>  <%= link_to  'Title Lists', title_lists_path() %></li> 
	  <li>  <%= link_to  'Customers', customers_path() %></li> 
	  <li>  <%= link_to  'Inventories', inventories_path() %></li> 
	  <li>  <%= link_to  'Online orders', shopping_carts_path() %></li> 
	  <li>  <%= link_to  'ABA Report', '/dashboard/report_aba.csv',:target=>'_blank' %></li> 
	</ul>

      

      </li>
    <% end %>
    <% if can? :edit,Page %>
      <li>
      <%= link_to 'Content Management', '/content' %>
      </li>
    <% end %>

    <% if can? :edit,TextFragment %>
      <li>
      <%= link_to 'Text Fragments', '/text_fragments' %>
      </li>
    <% end %>

    <% if can? :manage_calendar,:dashboard %>
      <li>
      <%= link_to 'Calendar', '/manage_calendar' %>
      </li>
    <% end %>


  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
