<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= sitename %>: <%= content_for?(:title) ? yield(:title) : "#{controller.controller_name} #{controller.action_name}" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Borges" %>">
    <%= yield(:og) %> 
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render :partial => "themes/#{theme}/head" %>
    <%= yield(:head) %> 
<%= favicon_link_tag 'favicon.ico' %>
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7074256/6532592/css/fonts.css" />
<meta name="google-site-verification" content="dUL1q_W_-jKwD_tIz6z4dKiKJF7QpaCE5VDsB7EHpV0" />
  </head>


  <body class="<%= controller_name %> <%= action_name %> <%= 'slider' if @slider %>">


<!-- Fixed navbar -->
        <div id="navbar2" class="">
          <ul >
	    <% if @is_2640_page %>
            <li id="middlelogobig2"><a href="/2640" style="padding-top:0px;padding-bottom:0px"><%= image_tag "redemmas/2640.png",:width=>'50px',:style=>'-webkit-filter:invert(100%);filter:invert(100%);float:left;margin-right:10px;position:relative;top:0px;'%></a></li>
<% elsif @is_gcl_page %>
            <li id="middlelogobig2" ><a href="/gcl" style="padding-top:0px;padding-bottom:0px"><%= image_tag "redemmas/gcl.png",:width=>'300px',:style=>'float:left;margin-right:10px;position:relative;top:0px;'%></a></li>
<% else %>
            <!--<li class="  hidden-xs"><a href="/pages/food">Food</a></li>-->
	    <li class="  hidden-xs"><a href="https://www.toasttab.com/red-emma-s/v2/online-order#!/order">Food</a></li>
            <li  class="  hidden-xs"><a href="/books">Books</a></li>
	    <li class="  hidden-xs"><a href="/pages/catering">Catering</a></li>         
            <li class="  hidden-xs" id="middlelogobig2" ><a href="/" style="padding-top:0px;padding-bottom:0px"><%= image_tag "redemmas/emmas.png",:width=>'50px'%></a></li>
	    <li  class="  hidden-xs"><a href="/events">Events</a></li>         
	    <li  class="  hidden-xs"><a href="/about">About</a></li>
	    <li class="  hidden-xs"><a href="https://www.toasttab.com/red-emma-s/v2/online-order#!/order">Order online</a></li>
<% end %>
          </ul>
        </div><!--/.nav-collapse -->


    <nav class="navbar navbar-fixed-top ">
      <div class="container-fluid " >
        <div class="navbar-header">
          <span id="middlelogosmall" style=""><a href="/" style=""><%= image_tag "redemmas/emmas.png",:width=>'50px' %></a></span>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  
          
        </div>



        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	    <% if @is_2640_page %>
            <li id="middlelogobig" ><a href="/2640" style="padding-top:0px;padding-bottom:0px"><%= image_tag "redemmas/2640.png",:width=>'50px',:style=>'-webkit-filter:invert(100%);filter:invert(100%);float:left;margin-right:10px;position:relative;top:0px;'%></a></li>
<% elsif @is_gcl_page %>
            <li id="middlelogobig" ><a href="/gcl" style="padding-top:0px;padding-bottom:0px"><%= image_tag "redemmas/gcl.png",:width=>'150px',:style=>'float:left;margin-right:10px;position:relative;top:0px;'%></a></li>
<% else %>
<!--            <li class="visible-xs-block"><a href="/pages/food">Food</a></li>-->
	    <li class="visible-xs-block"><a href="https://www.toasttab.com/red-emma-s/v2/online-order#!/order">Food</a></li>
	    <li class="visible-xs-block"><a href="https://www.toasttab.com/red-emma-s/v2/online-order#!/order">Order online</a></li>
            <li class="visible-xs-block"><a href="/books">Books</a></li>
	    <li class="visible-xs-block"><a href="/pages/catering">Catering</a></li>         
	    <li class="visible-xs-block"><a href="/events">Events</a></li>         
	    <li class="visible-xs-block"><a href="/about">About</a></li>
            <li ><a href="/blog">News</a></li>
	    <li><a href="/pages/contact">Contact</a></li>
<% end %>
          </ul>

        </div><!--/.nav-collapse -->

	<% if current_cart.active? and @oncart.nil? %>
	<div class="cartlink">
	<a href="/cart" class="btn" style="float:right;margin-top:7px;">
	  <i class="fa fa-shopping-cart"></i> : <%= current_cart.number_of_items %> <span class="hidden-sm">item<%= current_cart.number_of_items>1 ? 's' : ''%></span>
	</a>
	</div>
	<% end %>

      </div>
    </nav>


        </div><!--/.nav-collapse -->

      </div>
    </nav>

<!-- <div class="emergencyalert container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render 'layouts/emergency' %>
         
  </div>
</div>
--> 

<div class="container-fluid" id="holder">



      <div id="modal-window" class="modal fade" role="dialog">
	<div class="modal-dialog">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h3 class="modal-title">Modal header</h3>
	  </div>
	  <div class="modal-body">
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn"  data-dismiss="modal">Close</a>
	  </div>
	</div>    
      </div>
      <div id="top" >
	<%= render :partial => "themes/#{theme}/header" %>      
      </div>
      
      <div id="main" role="main">
	<div id="notification" class="alert alert-block fade in alert-info" style="display:none;">            
	  <!--	<button type="button" class="close" data-dismiss="alert">&times;</button>-->
	  <div id="notificationcontent"></div>
	</div>
	<%= yield(:precontent) %>
      	<%= render 'layouts/messages' %>

	<%= yield %> <!-- the real, system-managed content.  you can't theme this -->

	
	<div class="relatedbar">
	  <div class="container">
            <div class="content">
	      <div class="row">
		<%= yield :related %>
	      </div>
	    </div>
	  </div>
	</div>
      </div> <!--! end of #main -->


      <div id="push"></div>
    </div> <!-- end of wrap -->

<footer class="footer hideonprint">
	<%= render :partial => "themes/#{theme}/footer" %>      
</footer>


    

   <% if user_is_admin? || user_is_scheduler? || user_views_calendar?  %>
    <footer class="footer hideonprint">
      <nav class="navbar navbar-inverse navbar-fixed-bottom" >
	<div class="navbar-collapse">
	<%= render 'layouts/navigation' %>
	</div>
      </div>
    </footer>
      <% end %>

    
    

    
  </body>
</html>
