<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Borges" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Borges" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

    <%= vendor_template("header") %>
  </head>

  <body class="<%= controller_name %> <%= action_name %> <%= 'slider' if @slider %>">
    <%= vendor_template("top") %>

    <div id="main" role="main">
      <%= yield(:precontent) %>
      <div class="container">
        <div class="content">
          <div class="row">
		        <div class="span12">
		          <%= render 'layouts/messages' %>
		          <%= yield %>
		        </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->

      <div class="relatedbar">
	      <div class="container">
          <div class="content">
	          <div class="row">
	            <%= yield :related %>
	          </div>
	        </div>
	      </div>
      </div>
    </div> <!--! end of #main -->
    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">
	        <div style="position:absolute;top:0px;right:0px;">
	          <%= render 'layouts/navigation' %>
	        </div>

	      </div>
      </nav>
    </div>
  </body>
</html>
