<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= sitename %>: <%= content_for?(:title) ? yield(:title) : "#{controller.controller_name} #{controller.action_name}" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Borges" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render :partial => "themes/#{theme}/head" %>
    <%= yield(:head) %> 
<%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body class="<%= controller_name %> <%= action_name %> <%= 'slider' if @slider %>">
    <div id="wrap" style="<%= 'padding-top:40px;' if (user_is_admin? || user_is_scheduler?)  %>">
      <% if user_is_admin? || user_is_scheduler? %>
      <div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
	<%= render 'layouts/navigation' %>
	</div>
      </div>
      <% end %>

      <div id="modal-window" class="modal hide fade" role="dialog">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  <h3 class="modal-title">Modal header</h3>
	</div>
	<div class="modal-body">
	</div>
	<div class="modal-footer">
	  <a href="#" class="btn"  data-dismiss="modal">Close</a>
	</div>
      </div>    
      <div id="top" >
	<%= render :partial => "themes/#{theme}/header" %>      
      </div>
      
      <div id="main" role="main">
	<div id="notification" class="alert alert-block fade in" style="display:none;">            
	  <!--	<button type="button" class="close" data-dismiss="alert">&times;</button>-->
	  <div id="notificationcontent"></div>
	</div>
	<%= yield(:precontent) %>
      	<%= render 'layouts/messages' %>
	<%= render :partial => "themes/#{theme}/leftcolumn" %> <!-- this is more like "top" -->       
	<%= yield %> <!-- the real, system-managed content.  you can't theme this -->
	<%= render :partial => "themes/#{theme}/rightcolumn" %>  <!-- this is more like "bottom" -->           
	
	<div class="relatedbar">
	  <div class="container">
            <div class="content">
	      <div class="row">
		<%= yield :related %>
	      </div>
	    </div>
	  </div>
	</div>
      </div> <!--! end of #main -->
      
      <div id="push"></div>
    </div> <!-- end of wrap -->

    <div id="footer">  
      <%= render :partial => "themes/#{theme}/bottom" %>      
    </div>
    
    
    
    

    
  </body>
</html>
