<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Borges" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Borges" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %> <%= 'slider' if @slider %>">
    <div class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">
	  <%= image_tag "logo3.png", {:width=>"60px",:style=>"position:absolute;left:10px;bottom:2px;"} %>
	  <div class="tablet" style="color:rgb(246,246,246);font-size:60px;position:absolute;left:80px;bottom:15px;">
	    RED EMMA'S
	  </div>
	  
	  <div class="edmond bigtext" id="topmenu" style="color:rgb(246,246,246);" > 
	     <a href="/menu">FOOD</a>  <a href="/coffee">COFFEE</a>  <a href="/books">BOOKS</a>  <a href="/events">EVENTS</a>  <a href="/about">ABOUT</a>  <a href="/contact">CONTACT</a> 
	  </div>
	  
        </div>
      </nav>
      
      <% unless @slider.nil? %>
      <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                  <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item">
                    <img  src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-01.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>First Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img  src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-02.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Second Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                  <div class="item active">
                    <img src="http://twitter.github.io/bootstrap/assets/img/bootstrap-mdo-sfmoma-03.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Third Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>
      <% end %>
    </div>


      <div id="main" role="main">
	  <div class="container">
            <div class="content">
              <div class="row">
		<div class="span12">
		  <%= render 'layouts/messages' %>
		  <%= yield %>
		</div>
              </div>
              <footer>
              </footer>
            </div>
	  </div> <!--! end of .container -->

	  <div class="relatedbar">
	    <div class="container">
              <div class="content">
		<div class="row">
		  <%= yield :related %>
		</div>
	      </div>
	    </div>
	  </div>
	</div> <!--! end of #main -->
      <div class="navbar navbar-fixed-bottom navbar-inverse">
	<nav class="navbar-inner">
          <div class="container">
	    <div style="position:absolute;top:0px;right:0px;">
	      <%= render 'layouts/navigation' %>
	    </div>
	    	  
	</div>
	</nav>
      </div>
  </body>
</html>
