<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= sitename %>: <%= content_for?(:title) ? yield(:title) : "#{controller.controller_name} #{controller.action_name}" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Borges" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
<%= favicon_link_tag 'favicon.ico' %>



  </head>
  <body class="<%= controller_name %> <%= action_name %>">
  <% unless user_signed_in? %>
<div style="width:100%;height:100%;background-color:rgba(0,0,0,0.8);color:white;position:fixed;z-index:100;    font-family: brandon-grotesque; text-transform: uppercase;font-weight: bold;font-size: 50px;line-height: 50px;padding:20px;padding-top:30vh">
We're closed for the summer while we relocate to our new location at 1225 Cathedral St.
<button type="button" class="close" aria-label="Close" style="position:fixed;top:80px;right:20px;">
  <span aria-hidden="true" style="color:white;">&times;</span>
</button>

<script type="text/javascript">
$('.close').on("click", function () {
    $(this).parents('div').fadeOut();
});
</script>

</div>
<% end %>


    <%= yield %>
  </body>
</html>
