<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= sitename %>: <%= content_for?(:title) ? yield(:title) : "#{controller.controller_name} #{controller.action_name}" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Borges" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    
  </head>
  <body class="<%= controller_name %> <%= action_name %> <%= 'slider' if @slider %>">
    <div id="modal-window" class="modal hide fade" role="dialog">
      <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Modal header</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn"  data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
    </div>    
    <div id="top" >
      <nav class="">
        <div class="container">
	  <div class="row">
	    <div class="span5 left">
	      <div class="headertag">
		Red Emma's: <span style="font-weight:700">Thread Coffee</span>
	      </div>
 	      <div class="tablet headerlinks">
		<a href="#">Food</a>
		<a href="#">Coffee</a>
		<a href="#">Books</a>
 	      </div>
	      <div class="headertag">
		100% Worker-Owned and Operated
	      </div>
	    </div>
 	    <div class="span2 center"><%= image_tag "threadlogo_web3.png" %></div>
	    <div class="span5 right">
	      <div class="headertag">
		30 W. North Ave in Baltimore
	      </div>
 	      <div class="tablet headerlinks">
		<a href="#">Events</a>
		<a href="#">News</a>
		<a href="#">About</a>
 	      </div>
	      <div class="headertag">
		Open Tuesday-Sunday
	      </div>
	    </div> 
	  </div>
	  <hr/>	    
	</div>	  
      </nav>
    </div>
      
    
    <div id="main" role="main">
      <%= yield(:precontent) %>
      <div class="container">
        <div class="content">
              <div class="row">
		<div class="span12">
		  <%= render 'layouts/messages' %>
		  <%= yield %>
		</div>
              </div>
              <footer>
              </footer>
        </div>
      </div> <!--! end of .container -->

      <div class="relatedbar">
	<div class="container">
          <div class="content">
	    <div class="row">
	      <%= yield :related %>
	    </div>
	  </div>
	</div>
      </div>
    </div> <!--! end of #main -->
    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">
	  <div style="position:absolute;top:0px;right:0px;">
	    <%= render 'layouts/navigation' %>
	  </div>
	  
	</div>
      </nav>
    </div>
  </body>
</html>
